schemata/svg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/svg" xmlns:mei="http://www.music-encoding.org/ns/mei" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
  <xs:import namespace="http://www.music-encoding.org/ns/mei" schemaLocation="mei-all.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="svg" substitutionGroup="mei:mei_model.graphicLike">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.svg.content">
          <xs:attributeGroup ref="mei:attlist.svg"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="g">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.g.content">
          <xs:attributeGroup ref="mei:attlist.g"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="defs">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.defs.content">
          <xs:attributeGroup ref="mei:attlist.defs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="desc" substitutionGroup="mei:SVG.Description.class">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:attlist.desc"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="title" substitutionGroup="mei:SVG.Description.class">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:attlist.title"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="metadata" substitutionGroup="mei:SVG.Description.class">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:attlist.metadata"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="symbol">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.symbol.content">
          <xs:attributeGroup ref="mei:attlist.symbol"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="use" substitutionGroup="mei:SVG.Use.class"/>
  <xs:element name="switch" substitutionGroup="mei:SVG.Conditional.class"/>
  <xs:element name="image" substitutionGroup="mei:SVG.Image.class"/>
  <xs:element name="style" substitutionGroup="mei:SVG.Style.class"/>
  <xs:element name="path" substitutionGroup="mei:SVG.Shape.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.path.content">
          <xs:attributeGroup ref="mei:attlist.path"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="rect" substitutionGroup="mei:SVG.Shape.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.rect.content">
          <xs:attributeGroup ref="mei:attlist.rect"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="circle" substitutionGroup="mei:SVG.Shape.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.circle.content">
          <xs:attributeGroup ref="mei:attlist.circle"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="line" substitutionGroup="mei:SVG.Shape.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.line.content">
          <xs:attributeGroup ref="mei:attlist.line"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ellipse" substitutionGroup="mei:SVG.Shape.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.ellipse.content">
          <xs:attributeGroup ref="mei:attlist.ellipse"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="polyline" substitutionGroup="mei:SVG.Shape.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.polyline.content">
          <xs:attributeGroup ref="mei:attlist.polyline"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="polygon" substitutionGroup="mei:SVG.Shape.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.polygon.content">
          <xs:attributeGroup ref="mei:attlist.polygon"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="text" substitutionGroup="mei:SVG.Text.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.text.content">
          <xs:attributeGroup ref="mei:attlist.text"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="tspan" substitutionGroup="mei:SVG.TextContent.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.tspan.content">
          <xs:attributeGroup ref="mei:attlist.tspan"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="tref" substitutionGroup="mei:SVG.TextContent.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.tref.content">
          <xs:attributeGroup ref="mei:attlist.tref"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="textPath" substitutionGroup="mei:SVG.TextContent.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.textPath.content">
          <xs:attributeGroup ref="mei:attlist.textPath"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="altGlyph" substitutionGroup="mei:SVG.TextContent.class">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:attlist.altGlyph"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="altGlyphDef" substitutionGroup="mei:SVG.Text.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.altGlyphDef.content">
          <xs:attributeGroup ref="mei:attlist.altGlyphDef"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="altGlyphItem">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.altGlyphItem.content">
          <xs:attributeGroup ref="mei:attlist.altGlyphItem"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="glyphRef">
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.glyphRef"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="marker" substitutionGroup="mei:SVG.Marker.class"/>
  <xs:element name="color-profile" substitutionGroup="mei:SVG.ColorProfile.class"/>
  <xs:element name="linearGradient" substitutionGroup="mei:SVG.Gradient.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.linearGradient.content">
          <xs:attributeGroup ref="mei:attlist.linearGradient"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="radialGradient" substitutionGroup="mei:SVG.Gradient.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.radialGradient.content">
          <xs:attributeGroup ref="mei:attlist.radialGradient"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="stop">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.stop.content">
          <xs:attributeGroup ref="mei:attlist.stop"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="pattern" substitutionGroup="mei:SVG.Pattern.class"/>
  <xs:element name="clipPath" substitutionGroup="mei:SVG.Clip.class"/>
  <xs:element name="mask" substitutionGroup="mei:SVG.Mask.class"/>
  <xs:element name="filter" substitutionGroup="mei:SVG.Filter.class"/>
  <xs:element name="feBlend" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feBlend.content">
          <xs:attributeGroup ref="mei:attlist.feBlend"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feColorMatrix" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feColorMatrix.content">
          <xs:attributeGroup ref="mei:attlist.feColorMatrix"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feComponentTransfer" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feComponentTransfer.content">
          <xs:attributeGroup ref="mei:attlist.feComponentTransfer"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feComposite" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feComposite.content">
          <xs:attributeGroup ref="mei:attlist.feComposite"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feConvolveMatrix" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feConvolveMatrix.content">
          <xs:attributeGroup ref="mei:attlist.feConvolveMatrix"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feDiffuseLighting" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feDiffuseLighting.content">
          <xs:attributeGroup ref="mei:attlist.feDiffuseLighting"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feDisplacementMap" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feDisplacementMap.content">
          <xs:attributeGroup ref="mei:attlist.feDisplacementMap"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feFlood" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feFlood.content">
          <xs:attributeGroup ref="mei:attlist.feFlood"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feGaussianBlur" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feGaussianBlur.content">
          <xs:attributeGroup ref="mei:attlist.feGaussianBlur"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feImage" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feImage.content">
          <xs:attributeGroup ref="mei:attlist.feImage"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feMerge" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feMerge.content">
          <xs:attributeGroup ref="mei:attlist.feMerge"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feMergeNode">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feMergeNode.content">
          <xs:attributeGroup ref="mei:attlist.feMergeNode"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feMorphology" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feMorphology.content">
          <xs:attributeGroup ref="mei:attlist.feMorphology"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feOffset" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feOffset.content">
          <xs:attributeGroup ref="mei:attlist.feOffset"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feSpecularLighting" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feSpecularLighting.content">
          <xs:attributeGroup ref="mei:attlist.feSpecularLighting"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feTile" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feTile.content">
          <xs:attributeGroup ref="mei:attlist.feTile"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feTurbulence" substitutionGroup="mei:SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feTurbulence.content">
          <xs:attributeGroup ref="mei:attlist.feTurbulence"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feDistantLight">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feDistantLight.content">
          <xs:attributeGroup ref="mei:attlist.feDistantLight"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="fePointLight">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.fePointLight.content">
          <xs:attributeGroup ref="mei:attlist.fePointLight"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feSpotLight">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feSpotLight.content">
          <xs:attributeGroup ref="mei:attlist.feSpotLight"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feFuncR">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feFuncR.content">
          <xs:attributeGroup ref="mei:attlist.feFuncR"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feFuncG">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feFuncG.content">
          <xs:attributeGroup ref="mei:attlist.feFuncG"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feFuncB">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feFuncB.content">
          <xs:attributeGroup ref="mei:attlist.feFuncB"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feFuncA">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.feFuncA.content">
          <xs:attributeGroup ref="mei:attlist.feFuncA"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="cursor" substitutionGroup="mei:SVG.Cursor.class"/>
  <xs:element name="a" substitutionGroup="mei:SVG.Hyperlink.class"/>
  <xs:element name="view" substitutionGroup="mei:SVG.View.class"/>
  <xs:element name="script" substitutionGroup="mei:SVG.Script.class"/>
  <xs:element name="animate" substitutionGroup="mei:SVG.Animation.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.animate.content">
          <xs:attributeGroup ref="mei:attlist.animate"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="set" substitutionGroup="mei:SVG.Animation.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.set.content">
          <xs:attributeGroup ref="mei:attlist.set"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="animateMotion" substitutionGroup="mei:SVG.Animation.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.animateMotion.content">
          <xs:attributeGroup ref="mei:attlist.animateMotion"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="animateColor" substitutionGroup="mei:SVG.Animation.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.animateColor.content">
          <xs:attributeGroup ref="mei:attlist.animateColor"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="animateTransform" substitutionGroup="mei:SVG.Animation.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.animateTransform.content">
          <xs:attributeGroup ref="mei:attlist.animateTransform"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mpath">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.mpath.content">
          <xs:attributeGroup ref="mei:attlist.mpath"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="font" substitutionGroup="mei:SVG.Font.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.font.content">
          <xs:attributeGroup ref="mei:attlist.font"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="font-face" substitutionGroup="mei:SVG.Font.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.font-face.content">
          <xs:attributeGroup ref="mei:attlist.font-face"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="glyph">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.glyph.content">
          <xs:attributeGroup ref="mei:attlist.glyph"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="missing-glyph">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.missing-glyph.content">
          <xs:attributeGroup ref="mei:attlist.missing-glyph"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="hkern">
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.hkern"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vkern">
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.vkern"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="font-face-src">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.font-face-src.content">
          <xs:attributeGroup ref="mei:attlist.font-face-src"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="font-face-uri">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:SVG.font-face-uri.content">
          <xs:attributeGroup ref="mei:attlist.font-face-uri"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="font-face-format">
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.font-face-format"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="font-face-name">
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.font-face-name"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="definition-src">
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.definition-src"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreignObject" substitutionGroup="mei:SVG.Extensibility.class"/>
</xs:schema>
