schemata/svg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://www.w3.org/2000/svg" xmlns:mei="http://www.music-encoding.org/ns/mei"
  xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
  <xs:import namespace="http://www.music-encoding.org/ns/mei" schemaLocation="mei-all_anyStart.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="svg" substitutionGroup="mei:mei_model.graphicLike">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.svg.content">
          <xs:attributeGroup ref="mei:svg_attlist.svg"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="g">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.g.content">
          <xs:attributeGroup ref="mei:svg_attlist.g"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="defs">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.defs.content">
          <xs:attributeGroup ref="mei:svg_attlist.defs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="desc" substitutionGroup="mei:svg_SVG.Description.class">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:svg_attlist.desc"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="title" substitutionGroup="mei:svg_SVG.Description.class">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:svg_attlist.title"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="metadata" substitutionGroup="mei:svg_SVG.Description.class">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:svg_attlist.metadata"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="symbol">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.symbol.content">
          <xs:attributeGroup ref="mei:svg_attlist.symbol"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="use" substitutionGroup="mei:svg_SVG.Use.class"/>
  <xs:element name="switch" substitutionGroup="mei:svg_SVG.Conditional.class"/>
  <xs:element name="image" substitutionGroup="mei:svg_SVG.Image.class"/>
  <xs:element name="style" substitutionGroup="mei:svg_SVG.Style.class"/>
  <xs:element name="path" substitutionGroup="mei:svg_SVG.Shape.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.path.content">
          <xs:attributeGroup ref="mei:svg_attlist.path"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="rect" substitutionGroup="mei:svg_SVG.Shape.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.rect.content">
          <xs:attributeGroup ref="mei:svg_attlist.rect"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="circle" substitutionGroup="mei:svg_SVG.Shape.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.circle.content">
          <xs:attributeGroup ref="mei:svg_attlist.circle"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="line" substitutionGroup="mei:svg_SVG.Shape.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.line.content">
          <xs:attributeGroup ref="mei:svg_attlist.line"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ellipse" substitutionGroup="mei:svg_SVG.Shape.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.ellipse.content">
          <xs:attributeGroup ref="mei:svg_attlist.ellipse"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="polyline" substitutionGroup="mei:svg_SVG.Shape.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.polyline.content">
          <xs:attributeGroup ref="mei:svg_attlist.polyline"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="polygon" substitutionGroup="mei:svg_SVG.Shape.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.polygon.content">
          <xs:attributeGroup ref="mei:svg_attlist.polygon"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="text" substitutionGroup="mei:svg_SVG.Text.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.text.content">
          <xs:attributeGroup ref="mei:svg_attlist.text"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="tspan" substitutionGroup="mei:svg_SVG.TextContent.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.tspan.content">
          <xs:attributeGroup ref="mei:svg_attlist.tspan"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="tref" substitutionGroup="mei:svg_SVG.TextContent.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.tref.content">
          <xs:attributeGroup ref="mei:svg_attlist.tref"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="textPath" substitutionGroup="mei:svg_SVG.TextContent.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.textPath.content">
          <xs:attributeGroup ref="mei:svg_attlist.textPath"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="altGlyph" substitutionGroup="mei:svg_SVG.TextContent.class">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:svg_attlist.altGlyph"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="altGlyphDef" substitutionGroup="mei:svg_SVG.Text.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.altGlyphDef.content">
          <xs:attributeGroup ref="mei:svg_attlist.altGlyphDef"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="altGlyphItem">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.altGlyphItem.content">
          <xs:attributeGroup ref="mei:svg_attlist.altGlyphItem"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="glyphRef">
    <xs:complexType>
      <xs:attributeGroup ref="mei:svg_attlist.glyphRef"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="marker" substitutionGroup="mei:svg_SVG.Marker.class"/>
  <xs:element name="color-profile" substitutionGroup="mei:svg_SVG.ColorProfile.class"/>
  <xs:element name="linearGradient" substitutionGroup="mei:svg_SVG.Gradient.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.linearGradient.content">
          <xs:attributeGroup ref="mei:svg_attlist.linearGradient"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="radialGradient" substitutionGroup="mei:svg_SVG.Gradient.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.radialGradient.content">
          <xs:attributeGroup ref="mei:svg_attlist.radialGradient"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="stop">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.stop.content">
          <xs:attributeGroup ref="mei:svg_attlist.stop"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="pattern" substitutionGroup="mei:svg_SVG.Pattern.class"/>
  <xs:element name="clipPath" substitutionGroup="mei:svg_SVG.Clip.class"/>
  <xs:element name="mask" substitutionGroup="mei:svg_SVG.Mask.class"/>
  <xs:element name="filter" substitutionGroup="mei:svg_SVG.Filter.class"/>
  <xs:element name="feBlend" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feBlend.content">
          <xs:attributeGroup ref="mei:svg_attlist.feBlend"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feColorMatrix" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feColorMatrix.content">
          <xs:attributeGroup ref="mei:svg_attlist.feColorMatrix"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feComponentTransfer" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feComponentTransfer.content">
          <xs:attributeGroup ref="mei:svg_attlist.feComponentTransfer"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feComposite" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feComposite.content">
          <xs:attributeGroup ref="mei:svg_attlist.feComposite"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feConvolveMatrix" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feConvolveMatrix.content">
          <xs:attributeGroup ref="mei:svg_attlist.feConvolveMatrix"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feDiffuseLighting" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feDiffuseLighting.content">
          <xs:attributeGroup ref="mei:svg_attlist.feDiffuseLighting"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feDisplacementMap" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feDisplacementMap.content">
          <xs:attributeGroup ref="mei:svg_attlist.feDisplacementMap"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feFlood" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feFlood.content">
          <xs:attributeGroup ref="mei:svg_attlist.feFlood"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feGaussianBlur" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feGaussianBlur.content">
          <xs:attributeGroup ref="mei:svg_attlist.feGaussianBlur"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feImage" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feImage.content">
          <xs:attributeGroup ref="mei:svg_attlist.feImage"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feMerge" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feMerge.content">
          <xs:attributeGroup ref="mei:svg_attlist.feMerge"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feMergeNode">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feMergeNode.content">
          <xs:attributeGroup ref="mei:svg_attlist.feMergeNode"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feMorphology" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feMorphology.content">
          <xs:attributeGroup ref="mei:svg_attlist.feMorphology"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feOffset" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feOffset.content">
          <xs:attributeGroup ref="mei:svg_attlist.feOffset"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feSpecularLighting" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feSpecularLighting.content">
          <xs:attributeGroup ref="mei:svg_attlist.feSpecularLighting"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feTile" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feTile.content">
          <xs:attributeGroup ref="mei:svg_attlist.feTile"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feTurbulence" substitutionGroup="mei:svg_SVG.FilterPrimitive.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feTurbulence.content">
          <xs:attributeGroup ref="mei:svg_attlist.feTurbulence"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feDistantLight">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feDistantLight.content">
          <xs:attributeGroup ref="mei:svg_attlist.feDistantLight"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="fePointLight">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.fePointLight.content">
          <xs:attributeGroup ref="mei:svg_attlist.fePointLight"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feSpotLight">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feSpotLight.content">
          <xs:attributeGroup ref="mei:svg_attlist.feSpotLight"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feFuncR">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feFuncR.content">
          <xs:attributeGroup ref="mei:svg_attlist.feFuncR"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feFuncG">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feFuncG.content">
          <xs:attributeGroup ref="mei:svg_attlist.feFuncG"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feFuncB">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feFuncB.content">
          <xs:attributeGroup ref="mei:svg_attlist.feFuncB"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="feFuncA">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.feFuncA.content">
          <xs:attributeGroup ref="mei:svg_attlist.feFuncA"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="cursor" substitutionGroup="mei:svg_SVG.Cursor.class"/>
  <xs:element name="a" substitutionGroup="mei:svg_SVG.Hyperlink.class"/>
  <xs:element name="view" substitutionGroup="mei:svg_SVG.View.class"/>
  <xs:element name="script" substitutionGroup="mei:svg_SVG.Script.class"/>
  <xs:element name="animate" substitutionGroup="mei:svg_SVG.Animation.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.animate.content">
          <xs:attributeGroup ref="mei:svg_attlist.animate"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="set" substitutionGroup="mei:svg_SVG.Animation.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.set.content">
          <xs:attributeGroup ref="mei:svg_attlist.set"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="animateMotion" substitutionGroup="mei:svg_SVG.Animation.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.animateMotion.content">
          <xs:attributeGroup ref="mei:svg_attlist.animateMotion"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="animateColor" substitutionGroup="mei:svg_SVG.Animation.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.animateColor.content">
          <xs:attributeGroup ref="mei:svg_attlist.animateColor"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="animateTransform" substitutionGroup="mei:svg_SVG.Animation.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.animateTransform.content">
          <xs:attributeGroup ref="mei:svg_attlist.animateTransform"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mpath">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.mpath.content">
          <xs:attributeGroup ref="mei:svg_attlist.mpath"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="font" substitutionGroup="mei:svg_SVG.Font.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.font.content">
          <xs:attributeGroup ref="mei:svg_attlist.font"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="font-face" substitutionGroup="mei:svg_SVG.Font.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.font-face.content">
          <xs:attributeGroup ref="mei:svg_attlist.font-face"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="glyph">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.glyph.content">
          <xs:attributeGroup ref="mei:svg_attlist.glyph"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="missing-glyph">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.missing-glyph.content">
          <xs:attributeGroup ref="mei:svg_attlist.missing-glyph"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="hkern">
    <xs:complexType>
      <xs:attributeGroup ref="mei:svg_attlist.hkern"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vkern">
    <xs:complexType>
      <xs:attributeGroup ref="mei:svg_attlist.vkern"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="font-face-src">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.font-face-src.content">
          <xs:attributeGroup ref="mei:svg_attlist.font-face-src"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="font-face-uri">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:svg_SVG.font-face-uri.content">
          <xs:attributeGroup ref="mei:svg_attlist.font-face-uri"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="font-face-format">
    <xs:complexType>
      <xs:attributeGroup ref="mei:svg_attlist.font-face-format"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="font-face-name">
    <xs:complexType>
      <xs:attributeGroup ref="mei:svg_attlist.font-face-name"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="definition-src">
    <xs:complexType>
      <xs:attributeGroup ref="mei:svg_attlist.definition-src"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreignObject" substitutionGroup="mei:svg_SVG.Extensibility.class"/>
</xs:schema>
