schemata/rng/datatypes.rng

<?xml version="1.0" encoding="UTF-8"?>

<!-- ************************************************************** -->
<!--
  NAME:     Music Encoding Initiative (MEI) schema component:
            datatypes.rng
  
  NOTICE:   Copyright (c) 2010 by the Music Encoding Initiative (MEI)
            Council.
  
            Licensed under the Educational Community License, Version
            2.0 (the "License"); you may not use this file except in
            compliance with the License. You may obtain a copy of the
            License at http://www.osedu.org/licenses/ECL-2.0.
            
            Unless required by applicable law or agreed to in writing,
            software distributed under the License is distributed on
            an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
            KIND, either express or implied. See the License for the
            specific language governing permissions and limitations
            under the License.
            
            This is a derivative work based on earlier versions of the
            schema copyright (c) 2001-2006 Perry Roland and the Rector
            and Visitors of the University of Virginia; licensed under
            the Educational Community License version 1.0.
  
  CONTACT:  contact@music-encoding.org 
-->

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  xmlns:tei="http://www.tei-c.org/ns/1.0"
  xmlns:xhtml="http://www.w3.org/1999/xhtml"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  ns="http://www.music-encoding.org/ns/mei"
  xmlns:mei="http://www.music-encoding.org/ns/mei">

  <define name="data.BEND.AMOUNT">
    <a:documentation>Either a decimal value or a token. The decimal values are
      limited to .25, .5, .75, or 1, while the token values are restricted to
      'full'.</a:documentation>
    <choice>
      <data type="decimal">
        <param name="pattern">1|\.25|\.5|\.75</param>
      </data>
      <data type="token">
        <param name="pattern">full</param>
      </data>
    </choice>
  </define>

  <define name="data.BEAT">
    <a:documentation>A beat location, i.e., [0-9]+(\.?[0-9]*)? The value must
      fall between 0 and the numerator of the time signature + 1, where 0
      represents the left barline and the upper bound represents the right
      barline. For example, in 12/8 the value must be in the range from 0 to
      13.</a:documentation>
    <data type="decimal">
      <param name="minInclusive">0</param>
    </data>
  </define>

  <define name="data.BEATRPT.REND">
    <a:documentation>Visual and performance information for a repeated beat
      symbol.</a:documentation>
    <choice>
      <data type="positiveInteger">
        <param name="pattern">4|8|16|32|64|128</param>
      </data>
      <data type="token">
        <param name="pattern">mixed</param>
      </data>
    </choice>
  </define>

  <define name="data.COLOR">
    <a:documentation>Either a hexadecimal color value, ie., x[0-9A-Fa-f]{6,6} OR
      a descriptive word, i.e., aqua, black, blue, fuchsia, gray, green, lime,
      maroon, navy, olive, purple, red, silver, teal, white, or yellow, for
      colors defined by the HTML 4.01 specification.</a:documentation>
    <choice>
      <data type="token">
        <param name="pattern"
          >(x[0-9A-Fa-f]{6,6}|aqua|black|fuchsia|gray|green|lime|maroon|navy|olive|purple|red|silver|teal|white|yellow)</param>
      </data>
    </choice>
  </define>

  <define name="data.DEGREES">
    <a:documentation>360th-unit measure of a cirle's circumference; optionally
      signed decimal number, i.e., [+-]?[0-9]+(\.?[0-9]*)?</a:documentation>
    <data type="decimal"/>
  </define>

  <define name="data.FINGER.FRET">
    <a:documentation>In a guitar chord diagram, a label indicating which finger,
      if any, should be used to play an individual string. The values 'x' and
      'o' indicate stopped and open strings, respectively.</a:documentation>
    <choice>
      <data type="positiveInteger">
        <param name="minInclusive">1</param>
        <param name="maxInclusive">4</param>
      </data>
      <data type="token">
        <param name="pattern">x|o</param>
      </data>
    </choice>
  </define>

  <define name="data.FRET">
    <a:documentation>In a guitar chord diagram, the fret where the finger should
      be placed. Since guitar chord diagrams are limited to the range of frets
      that fall under the hand, the value here is also limited. The pos
      (position) attribute on the chorddef element must be used to indicate at
      which fret this range begins.</a:documentation>
    <data type="positiveInteger">
      <param name="minInclusive">1</param>
      <param name="maxInclusive">5</param>
    </data>
  </define>

  <define name="data.ISODATE">
    <a:documentation>ISO date formats</a:documentation>
    <choice>
      <!-- W3C -->
      <data type="date"/>
      <data type="gYear"/>
      <data type="gMonth"/>
      <data type="gDay"/>
      <data type="gYearMonth"/>
      <data type="gMonthDay"/>
      <data type="time"/>
      <data type="dateTime"/>
      <!-- any ISO 8601 format (and a lot more) -->
      <data type="token">
        <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
      </data>
    </choice>
  </define>

  <define name="data.ISOTIME">
    <a:documentation>ISO 24-hour time format: HH:MM:SS.ss, i.e.,
      [0-9][0-9]:[0-9][0-9]:[0-9][0-9](\.?[0-9]*)?</a:documentation>
    <data type="time"/>
  </define>

  <define name="data.MEASUREBEAT">
    <a:documentation>A duration expressed as a count of measures plus a beat
      location, i.e., [0-9]+m *\+ *[0-9]+(\.?[0-9]*)?, e.g., dur="1m + 3.5"
      indicates a duration of 1 measure plus 3 and one half beats or, in other
      words, on the 2nd half of the 3rd beat of the next measure. The measure
      number must be in the range of 0 to the number of remaining measures and
      the beat number must be in the range from 0 to the numerator of the time
      signature plus 1. For example, for an event starting in the first measure
      of a piece containing 6 measures in 6/8, the measure number must be
      between 0 to 5 and the beat number must be within the range from 0 to 7,
      e.g., "4m+3".</a:documentation>
    <data type="token">
      <param name="pattern">([0-9]+m *\+ *)?[0-9]+(\.?[0-9]*)?</param>
    </data>
  </define>

  <define name="data.MIDINAMES">
    <a:documentation>General MIDI instrument names</a:documentation>
    <choice>
      <value>Acoustic_Grand_Piano</value>
      <value>Bright_Acoustic_Piano</value>
      <value>Electric_Grand_Piano</value>
      <value>Honky-tonk_Piano</value>
      <value>Electric_Piano_1</value>
      <value>Electric_Piano_2</value>
      <value>Harpsichord</value>
      <value>Clavi</value>
      <value>Celesta</value>
      <value>Glockenspiel</value>
      <value>Music_Box</value>
      <value>Vibraphone</value>
      <value>Marimba</value>
      <value>Xylophone</value>
      <value>Tubular_Bells</value>
      <value>Dulcimer</value>
      <value>Drawbar_Organ</value>
      <value>Percussive_Organ</value>
      <value>Rock_Organ</value>
      <value>Church_Organ</value>
      <value>Reed_Organ</value>
      <value>Accordion</value>
      <value>Harmonica</value>
      <value>Tango_Accordion</value>
      <value>Acoustic_Guitar_nylon</value>
      <value>Acoustic_Guitar_steel</value>
      <value>Electric_Guitar_jazz</value>
      <value>Electric_Guitar_clean</value>
      <value>Electric_Guitar_muted</value>
      <value>Overdriven_Guitar</value>
      <value>Distortion_Guitar</value>
      <value>Guitar_harmonics</value>
      <value>Acoustic_Bass</value>
      <value>Electric_Bass_finger</value>
      <value>Electric_Bass_pick</value>
      <value>Fretless_Bass</value>
      <value>Slap_Bass_1</value>
      <value>Slap_Bass_2</value>
      <value>Synth_Bass_1</value>
      <value>Synth_Bass_2</value>
      <value>Violin</value>
      <value>Viola</value>
      <value>Cello</value>
      <value>Contrabass</value>
      <value>Tremolo_Strings</value>
      <value>Pizzicato_Strings</value>
      <value>Orchestral_Harp</value>
      <value>Timpani</value>
      <value>String_Ensemble_1</value>
      <value>String_Ensemble_2</value>
      <value>SynthStrings_1</value>
      <value>SynthStrings_2</value>
      <value>Choir_Aahs</value>
      <value>Voice_Oohs</value>
      <value>Synth_Voice</value>
      <value>Orchestra_Hit</value>
      <value>Trumpet</value>
      <value>Trombone</value>
      <value>Tuba</value>
      <value>Muted_Trumpet</value>
      <value>French_Horn</value>
      <value>Brass_Section</value>
      <value>SynthBrass_1</value>
      <value>SynthBrass_2</value>
      <value>Soprano_Sax</value>
      <value>Alto_Sax</value>
      <value>Tenor_Sax</value>
      <value>Baritone_Sax</value>
      <value>Oboe</value>
      <value>English_Horn</value>
      <value>Bassoon</value>
      <value>Clarinet</value>
      <value>Piccolo</value>
      <value>Flute</value>
      <value>Recorder</value>
      <value>Pan_Flute</value>
      <value>Blown_Bottle</value>
      <value>Shakuhachi</value>
      <value>Whistle</value>
      <value>Ocarina</value>
      <value>Lead_1_square</value>
      <value>Lead_2_sawtooth</value>
      <value>Lead_3_calliope</value>
      <value>Lead_4_chiff</value>
      <value>Lead_5_charang</value>
      <value>Lead_6_voice</value>
      <value>Lead_7_fifths</value>
      <value>Lead_8_bass_and_lead</value>
      <value>Pad_1_new_age</value>
      <value>Pad_2_warm</value>
      <value>Pad_3_polysynth</value>
      <value>Pad_4_choir</value>
      <value>Pad_5_bowed</value>
      <value>Pad_6_metallic</value>
      <value>Pad_7_halo</value>
      <value>Pad_8_sweep</value>
      <value>FX_1_rain</value>
      <value>FX_2_soundtrack</value>
      <value>FX_3_crystal</value>
      <value>FX_4_atmosphere</value>
      <value>FX_5_brightness</value>
      <value>FX_6_goblins</value>
      <value>FX_7_echoes</value>
      <value>FX_8_sci-fi</value>
      <value>Sitar</value>
      <value>Banjo</value>
      <value>Shamisen</value>
      <value>Koto</value>
      <value>Kalimba</value>
      <value>Bagpipe</value>
      <value>Fiddle</value>
      <value>Shanai</value>
      <value>Tinkle_Bell</value>
      <value>Agogo</value>
      <value>Steel_Drums</value>
      <value>Woodblock</value>
      <value>Taiko_Drum</value>
      <value>Melodic_Tom</value>
      <value>Synth_Drum</value>
      <value>Reverse_Cymbal</value>
      <value>Guitar_Fret_Noise</value>
      <value>Breath_Noise</value>
      <value>Seashore</value>
      <value>Bird_Tweet</value>
      <value>Telephone_Ring</value>
      <value>Helicopter</value>
      <value>Applause</value>
      <value>Gunshot</value>
    </choice>
  </define>

  <define name="data.MIDITEMPO">
    <a:documentation>MIDI quarter notes per minute: positive integer in the
      range 10-1000</a:documentation>
    <data type="positiveInteger">
      <param name="minInclusive">10</param>
      <param name="maxInclusive">1000</param>
    </data>
  </define>

  <define name="data.MODUSMAIOR">
    <a:documentation>Maxima-long relationship values.</a:documentation>
    <data type="positiveInteger">
      <param name="minInclusive">2</param>
      <param name="maxInclusive">3</param>
    </data>
  </define>

  <define name="data.MODUSMINOR">
    <a:documentation>Long-breve relationship values.</a:documentation>
    <data type="positiveInteger">
      <param name="minInclusive">2</param>
      <param name="maxInclusive">3</param>
    </data>
  </define>

  <define name="data.OCTAVE.DIS">
    <a:documentation>The amount of octave displacement; that is, '8' (as in
      '8va' for 1 octave), '15' (for 2 octaves), or rarely '22' (for 3
      octaves).</a:documentation>
    <data type="positiveInteger">
      <param name="pattern">8|15|22</param>
    </data>
  </define>

  <define name="data.ORIENTATION">
    <a:documentation>Rotation or reflection of base symbol
      values.</a:documentation>
    <data type="token">
      <param name="pattern">reversed|90CW|90CCW</param>
    </data>
  </define>

  <define name="data.PAGE.PANELS">
    <a:documentation>The number of panels per page.</a:documentation>
    <data type="positiveInteger">
      <param name="minInclusive">1</param>
      <param name="maxInclusive">2</param>
    </data>
  </define>

  <define name="data.PERCENT">
    <a:documentation>Positive decimal number plus '%', i.e.,
      [0-9]+(\.?[0-9]*)?\%</a:documentation>
    <data type="token">
      <param name="pattern">[0-9]+(\.?[0-9]*)?%</param>
    </data>
  </define>

  <define name="data.PROLATIO">
    <a:documentation>Semibreve-minim relationship values.</a:documentation>
    <data type="positiveInteger">
      <param name="minInclusive">2</param>
      <param name="maxInclusive">3</param>
    </data>
  </define>

  <define name="data.RATIO">
    <a:documentation>A ratio, i.e., [0-9]+(\.?[0-9]*)?:[0-9]+(\.?[0-9]*)? For
      example, "40:7.2319"</a:documentation>
    <data type="token">
      <param name="pattern">[0-9]+(\.?[0-9]*)?:[0-9]+(\.?[0-9]*)?</param>
    </data>
  </define>

  <define name="data.SLASH">
    <a:documentation>The number of slashes to be rendered for
      tremolandi.</a:documentation>
    <data type="positiveInteger">
      <param name="minInclusive">1</param>
      <param name="maxInclusive">6</param>
    </data>
  </define>

  <define name="data.STRINGNUMBER">
    <a:documentation>In string tablature, the number of the string to be played,
      i.e., [1-9]+.</a:documentation>
    <data type="positiveInteger"/>
  </define>

  <define name="data.TEMPOVALUE">
    <a:documentation>Beats (meter signature denominator) per minute, e.g.
      120.</a:documentation>
    <data type="positiveInteger"/>
  </define>

  <define name="data.TEMPUS">
    <a:documentation>Breve-semibreve relationship values</a:documentation>
    <data type="positiveInteger">
      <param name="minInclusive">2</param>
      <param name="maxInclusive">3</param>
    </data>
  </define>

  <define name="data.TSTAMPOFFSET">
    <a:documentation>A positive or negative offset from the value given in the
      tstamp attribute in terms of musical time, i.e., beats[.fractional beat
      part]</a:documentation>
    <data type="decimal"/>
  </define>

  <define name="data.URI">
    <a:documentation>a Uniform Resource Identifier, see
      [RFC2396]</a:documentation>
    <data type="anyURI"/>
  </define>

  <define name="data.ACCIDENTAL.EXPLICIT">
    <a:documentation>Accidental attribute values: s = sharp, f = flat, ss =
      dblsharp, x=dblsharp, ff = dblflat, xs = triple sharp, tb = triple flat, n
      = natural, nf = naturalflat, ns = naturalsharp. ss indicates the use of 2
      sharp signs, while x indicates the use of a single double sharp. nf and ns
      are used to cancel dbflats and dblsharps, respectively. su = sharp note
      qtr. tone up, sd = sharp note qtr. tone down, fu = flat note qtr. tone up,
      fd = flat note qtr. tone down, nu = natural note qtr. tone up, nd =
      natural note quarter tone down.</a:documentation>
    <choice>
      <value>s</value>
      <value>f</value>
      <value>ss</value>
      <value>x</value>
      <value>ff</value>
      <value>xs</value>
      <value>tb</value>
      <value>n</value>
      <value>nf</value>
      <value>ns</value>
      <value>su</value>
      <value>sd</value>
      <value>fu</value>
      <value>fd</value>
      <value>nu</value>
      <value>nd</value>
    </choice>
  </define>

  <define name="data.ACCIDENTAL.IMPLICIT">
    <a:documentation>Accidental attribute values: s = sharp, f = flat, ss =
      dblsharp, x=dblsharp, ff = dblflat, n = natural.</a:documentation>
    <choice>
      <value>s</value>
      <value>f</value>
      <value>ss</value>
      <value>ff</value>
      <value>n</value>
    </choice>
  </define>

  <define name="data.ARTICULATION">
    <a:documentation>The following list of articulations mostly corresponds to
      symbols 1D110-1D111, 1D17B-1D182, 1D185-1D189, 1D1AA-1D1AD, 1D1B3-1D1B5
      from the Western Musical Symbols portion of the Unicode Standard, v. 3.1.
      The dot and stroke values may be used in cases where interpretation is
      difficult or not desirable.</a:documentation>
    <choice>
      <value>acc</value>
      <value>stacc</value>
      <value>ten</value>
      <value>stacciss</value>
      <value>marc</value>
      <value>marc-stacc</value>
      <value>acc-marc</value>
      <value>spicc</value>
      <value>rip</value>
      <value>doit</value>
      <value>plop</value>
      <value>fall</value>
      <value>bend</value>
      <value>flip</value>
      <value>smear</value>
      <value>dnbow</value>
      <value>upbow</value>
      <value>harm</value>
      <value>snap</value>
      <value>fingernail</value>
      <value>ten-stacc</value>
      <value>damp</value>
      <value>dampall</value>
      <value>open</value>
      <value>stop</value>
      <value>dbltongue</value>
      <value>trpltongue</value>
      <value>heel</value>
      <value>toe</value>
      <value>tap</value>
      <value>lhpizz</value>
      <value>dot</value>
      <value>stroke</value>
    </choice>
  </define>

  <define name="data.ARTICULATIONS">
    <a:documentation>One or more values from the list given in the definition of
      data.ARTICULATION.</a:documentation>
    <list>
      <oneOrMore>
        <ref name="data.ARTICULATION"/>
      </oneOrMore>
    </list>
  </define>

  <define name="data.AUGMENTDOT">
    <a:documentation>Dots attribute values (number of augmentation dots) (Read,
      113-119, ex. 8-21)</a:documentation>
    <data type="nonNegativeInteger">
      <param name="maxInclusive">4</param>
    </data>
  </define>

  <define name="data.BARPLACE">
    <a:documentation>Placement of barlines: 'mensur' = between staves only,
      'staff' = between and across staves as necessary, 'takt' = short line
      above staff or through top line. The default value is
      'staff'.</a:documentation>
    <choice>
      <value>mensur</value>
      <value>staff</value>
      <value>takt</value>
    </choice>
  </define>

  <define name="data.BARRENDITION">
    <a:documentation>Renderings of barlines</a:documentation>
    <choice>
      <value>dashed</value>
      <value>dotted</value>
      <value>dbl</value>
      <value>dbldashed</value>
      <value>dbldotted</value>
      <value>end</value>
      <value>invis</value>
      <value>rptstart</value>
      <value>rptboth</value>
      <value>rptend</value>
      <value>single</value>
    </choice>
  </define>

  <define name="data.BEAM">
    <a:documentation>Beam attribute values: initial, medial, terminal. Nested
      beaming is permitted.</a:documentation>
    <data type="token">
      <param name="pattern">[i|m|t][1-6]</param>
    </data>
  </define>

  <define name="data.BEAMS">
    <a:documentation>One or more from the list given in the definition of the
      BEAM datatype.</a:documentation>
    <list>
      <oneOrMore>
        <ref name="data.BEAM"/>
      </oneOrMore>
    </list>
  </define>

  <define name="data.BOOLEAN">
    <a:documentation>Boolean attribute values</a:documentation>
    <choice>
      <value>true</value>
      <value>false</value>
    </choice>
  </define>

  <define name="data.CERTAINTY">
    <a:documentation>Values for certainty attribute</a:documentation>
    <choice>
      <value>high</value>
      <value>medium</value>
      <value>low</value>
      <value>unknown</value>
    </choice>
  </define>

  <define name="data.CLEFLINE">
    <a:documentation>Clef line attribute values</a:documentation>
    <data type="positiveInteger"/>
  </define>

  <define name="data.CLEFSHAPE">
    <a:documentation>Clef shape attribute values (Read,
      p.53-56)</a:documentation>
    <choice>
      <value>G</value>
      <value>GG</value>
      <value>F</value>
      <value>C</value>
      <value>perc</value>
      <value>TAB</value>
    </choice>
  </define>

  <define name="data.CLUSTER">
    <a:documentation>Tone-clusters</a:documentation>
    <choice>
      <value>whbox</value>
      <value>blbox</value>
    </choice>
  </define>

  <define name="data.CURVERENDITION">
    <a:documentation>Renderings of curves</a:documentation>
    <choice>
      <value>medium</value>
      <value>wide</value>
      <value>dashed</value>
      <value>dotted</value>
    </choice>
  </define>

  <define name="data.DURATION">
    <a:documentation>Logical, that is, written, duration attribute values for
      the CMN repertoire. Whole note duration = '1'.</a:documentation>
    <choice>
      <value>long</value>
      <value>breve</value>
      <value>1</value>
      <value>2</value>
      <value>4</value>
      <value>8</value>
      <value>16</value>
      <value>32</value>
      <value>64</value>
      <value>128</value>
      <value>256</value>
      <value>512</value>
      <value>1024</value>
      <value>2048</value>
    </choice>
  </define>

  <define name="data.ENCLOSURE">
    <a:documentation>Enclosures for editorial notes and
      accidentals</a:documentation>
    <choice>
      <value>paren</value>
      <value>brack</value>
    </choice>
  </define>

  <define name="data.FONTFAMILY">
    <a:documentation>Font family (for text) attribute values. Mup-acceptable
      values: avantgarde, bookman, courier, helvetica, newcentury, palatino,
      times.</a:documentation>
    <data type="token"/>
  </define>

  <define name="data.FONTNAME">
    <a:documentation>Font name (for text) attribute values. Mup-acceptable
      values: rom, ital, bold, boldital</a:documentation>
    <data type="token"/>
  </define>

  <define name="data.FONTSTYLE">
    <a:documentation>Font style (for text) attribute values. 'normal' = 'rom' in
      Mup.</a:documentation>
    <choice>
      <value>ital</value>
      <value>normal</value>
      <value>oblique</value>
    </choice>
  </define>

  <define name="data.FONTWEIGHT">
    <a:documentation>Font weight (for text) attribute values</a:documentation>
    <choice>
      <value>bold</value>
    </choice>
  </define>

  <define name="data.FRETNUMBER">
    <a:documentation>In string tablature, the fret number, i.e., [1-9]. The
      value 'o' may be used instead of a numerica value to indicate the open
      string.</a:documentation>
    <choice>
      <data type="nonNegativeInteger">
        <param name="minInclusive">1</param>
        <param name="maxInclusive">9</param>
      </data>
      <data type="token">
        <param name="pattern">o</param>
      </data>
    </choice>
  </define>

  <define name="data.GLISSANDO">
    <a:documentation>Analytical glissando attribute values: i(nitial), m(edial),
      t(erminal)</a:documentation>
    <choice>
      <value>i</value>
      <value>m</value>
      <value>t</value>
    </choice>
  </define>

  <define name="data.GRACE">
    <a:documentation>Do grace notes get time from the current (acc) or previous
      (unacc) one?</a:documentation>
    <choice>
      <value>acc</value>
      <value>unacc</value>
      <value>unknown</value>
    </choice>
  </define>

  <define name="data.HEADSHAPE">
    <a:documentation>Notehead shapes</a:documentation>
    <choice>
      <value>quarter</value>
      <value>half</value>
      <value>whole</value>
      <value>dblwhole</value>
      <value>filldiamond</value>
      <value>diamond</value>
      <value>dwdiamond</value>
      <value>fillisotriangle</value>
      <value>isotriangle</value>
      <value>dwhisotriangle</value>
      <value>fillpiewedge</value>
      <value>piewedge</value>
      <value>dwhpiewedge</value>
      <value>fillrectangle</value>
      <value>rectangle</value>
      <value>dwhrectangle</value>
      <value>fillrtriangle</value>
      <value>rtriangle</value>
      <value>dwrtriangle</value>
      <value>fillurtriangle</value>
      <value>urtriangle</value>
      <value>dwurtriangle</value>
      <value>fillsemicircle</value>
      <value>semicircle</value>
      <value>dwsemicircle</value>
      <value>fillslash</value>
      <value>slash</value>
      <value>dwslash</value>
      <value>x</value>
      <value>blank</value>
      <value>circlex</value>
      <value>cross</value>
    </choice>
  </define>

  <define name="data.INEUMENAME">
    <a:documentation>Interrupted neume, i.e. neume written as 2 or more
      sub-neumes</a:documentation>
    <choice>
      <value>pessubpunctis</value>
      <value>climacus</value>
      <value>scandicus</value>
      <value>bistropha</value>
      <value>tristropha</value>
      <value>pressusminor</value>
      <value>pressusmaior</value>
    </choice>
  </define>

  <define name="data.INEUMEFORM">
    <a:documentation>Interrupted neume forms</a:documentation>
    <choice>
      <value>liquescent1</value>
      <value>liquescent2</value>
      <value>tied</value>
      <value>tiedliquescent1</value>
      <value>tiedliquescent2</value>
    </choice>
  </define>

  <define name="data.KEYSIGTOKEN">
    <a:documentation>A token describing the pitch name, inflection, and octave
      number of an altered pitch in a key signature.</a:documentation>
    <data type="token">
      <param name="pattern"
        >[a-g][s|f|ss|x|ff|n|nf|ns|su|sd|fu|fd|nu|nd][0-9]</param>
    </data>
  </define>

  <define name="data.KEYSIGNATURE">
    <a:documentation>Key signature may be indicated by a value showing where the
      key is in the circle of fifths. Mixed key signatures, e.g. those
      consisting of a mixture of flats and sharps, and key signatures with
      unorthodox placement of the accidentals (Read, p. 143) must be indicated
      by setting the key.sig attribute to 'mixed' and providing explicit keysig
      info in the key.sig.mixed attribute.</a:documentation>
    <data type="token">
      <param name="pattern">mixed|0|[1-7][f|s]</param>
    </data>
  </define>

  <define name="data.LAYERSCHEME">
    <a:documentation>Indicates how stems should be drawn when more than one
      layer is present and stem directions are not indicated on the notes/chords
      themselves. '1' indicates that there is only a single layer on a staff.
      '2o' means there are two layers with opposing stems. '2f' indicates two
      'free' layers; that is, opposing stems will be drawn unless one of the
      layers has 'space'. In that case, stem direction in the remaining layer
      will be determined as if there were only one layer. '3o' and '3f' are
      analogous to '2o' and '2f' with three layers allowed. What about more than
      3 layers?</a:documentation>
    <choice>
      <value>1</value>
      <value>2o</value>
      <value>2f</value>
      <value>3o</value>
      <value>3f</value>
    </choice>
  </define>

  <define name="data.LIGATUREFORM">
    <a:documentation>Ligature forms</a:documentation>
    <choice>
      <value>recta</value>
      <value>obliqua</value>
    </choice>
  </define>

  <define name="data.LINERENDITION">
    <a:documentation>Renderings of lines</a:documentation>
    <choice>
      <value>narrow</value>
      <value>medium</value>
      <value>wide</value>
      <value>dashed</value>
      <value>dotted</value>
      <value>wavy</value>
    </choice>
  </define>

  <define name="data.MENSURATIONSIGN">
    <a:documentation>Mensuration attribute values</a:documentation>
    <choice>
      <value>C</value>
      <value>O</value>
    </choice>
  </define>

  <define name="data.METERSIGN">
    <a:documentation>Meter.sym attribute values for CMN
      notation</a:documentation>
    <choice>
      <value>common</value>
      <value>cut</value>
    </choice>
  </define>

  <define name="data.MIDICHANNEL">
    <a:documentation>MIDI channel numbers</a:documentation>
    <data type="positiveInteger">
      <param name="maxInclusive">16</param>
    </data>
  </define>

  <define name="data.MIDIVALUE">
    <a:documentation>MIDI values are in the following range</a:documentation>
    <data type="nonNegativeInteger">
      <param name="maxInclusive">127</param>
    </data>
  </define>

  <define name="data.MODE">
    <a:documentation>Modes</a:documentation>
    <choice>
      <value>major</value>
      <value>minor</value>
      <value>dorian</value>
      <value>phrygian</value>
      <value>lydian</value>
      <value>mixolydian</value>
      <value>aeolian</value>
      <value>locrian</value>
    </choice>
  </define>

  <define name="data.MUSICFONT">
    <a:documentation>Music font family</a:documentation>
    <data type="token"/>
  </define>

  <define name="data.OCTAVE">
    <a:documentation>Oct attribute values. The default values conform to
      Acoustical Society of America representation. Read, p.
      44.</a:documentation>
    <data type="nonNegativeInteger">
      <param name="maxInclusive">9</param>
    </data>
  </define>

  <define name="data.PGSCALE">
    <a:documentation>Page scale factor. Page.scale may be expressed as a
      percentage of a programmatically-determined "usual" size or as a ratio of
      virtual units to real-world units.</a:documentation>
    <choice>
      <ref name="data.PERCENT"/>
      <ref name="data.RATIO"/>
    </choice>
  </define>

  <define name="data.PGUNITS">
    <a:documentation>Values for real-world unit attributes</a:documentation>
    <choice>
      <value>in</value>
      <value>cm</value>
      <value>mm</value>
    </choice>
  </define>

  <define name="data.PITCHCLASS">
    <a:documentation>Pclass (pitch class) attribute values</a:documentation>
    <data type="nonNegativeInteger">
      <param name="maxInclusive">11</param>
    </data>
  </define>

  <define name="data.PITCHNAME">
    <a:documentation>The pitch names (gamut) used within a single octave. The
      default values conform to Acoustical Society of America
      representation.</a:documentation>
    <data type="token">
      <param name="pattern">[a-g]</param>
    </data>
  </define>

  <define name="data.PITCHNAME.GES">
    <a:documentation>Gestural pitch names need an additional value for when the
      notated pitch is not to be sounded.</a:documentation>
    <data type="token">
      <param name="pattern">[a-g]|none</param>
    </data>
  </define>

  <define name="data.PITCHNUMBER">
    <a:documentation>Pnum (pitch number, e.g. MIDI) attribute
      values</a:documentation>
    <data type="nonNegativeInteger"/>
  </define>

  <define name="data.PLIST">
    <a:documentation>Participant list referencing method.</a:documentation>
    <data type="IDREFS"/>
  </define>

  <define name="data.PLACE">
    <a:documentation>Location of symbol relative to other notational
      components.</a:documentation>
    <choice>
      <value>above</value>
      <value>below</value>
    </choice>
  </define>

  <define name="data.OTHERSTAFF">
    <a:documentation>For musical material designated to appear on another staff,
      the location of the staff relative to the current one; i.e., the staff
      above or the staff below.</a:documentation>
    <choice>
      <value>above</value>
      <value>below</value>
    </choice>
  </define>

  <define name="data.STAFFREL">
    <a:documentation>Location of musical material relative to a
      staff.</a:documentation>
    <choice>
      <value>above</value>
      <value>below</value>
      <value>within</value>
    </choice>
  </define>

  <define name="data.SIZE">
    <a:documentation>Relative size attribute values</a:documentation>
    <choice>
      <value>normal</value>
      <value>cue</value>
    </choice>
  </define>

  <define name="data.SLUR">
    <a:documentation>i=initial, m=medial, t=terminal. Number is used to match
      endpoints of the slur when slurs are nested or overlap, e.g. &lt;note
      slur='i1 i2'/&gt;&lt;note slur='t1'/&gt;&lt;note
      slur='t2'/&gt; encodes the fact that two slurs begin on note 1, one
      which terminates on note 2 and one which terminates on note
      3.</a:documentation>
    <data type="token">
      <param name="pattern">[i|m|t][1-6]</param>
    </data>
  </define>

  <define name="data.SLURS">
    <a:documentation>One or more from the list given in the definition of
      data.SLUR.</a:documentation>
    <list>
      <oneOrMore>
        <ref name="data.SLUR"/>
      </oneOrMore>
    </list>
  </define>

  <define name="data.SLURDIRECTION">
    <a:documentation>Slur direction</a:documentation>
    <choice>
      <value>up</value>
      <value>down</value>
    </choice>
  </define>

  <define name="data.STAFFLOC">
    <a:documentation>Staff location. Staff location includes staff lines,
      spaces, and the spaces directly above and below the staff. The value
      ranges between 0 (just below the staff) to 2 * number of staff lines
      (directly above the staff). For example, on a 5-line staff the lines would
      be numbered 1,3,5,7, and 9 while the spaces would be numbered
      0,2,4,6,8,10.</a:documentation>
    <data type="nonNegativeInteger"/>
  </define>

  <define name="data.STEMDIRECTION">
    <a:documentation>Stem direction</a:documentation>
    <choice>
      <value>up</value>
      <value>down</value>
    </choice>
  </define>

  <define name="data.STEMMODIFIER">
    <a:documentation>Stem modification</a:documentation>
    <choice>
      <value>1slash</value>
      <value>2slash</value>
      <value>3slash</value>
      <value>4slash</value>
      <value>5slash</value>
      <value>6slash</value>
      <value>sprech</value>
      <value>z</value>
    </choice>
  </define>

  <define name="data.STEMPOSITION">
    <a:documentation>Which side of stem?</a:documentation>
    <choice>
      <value>left</value>
      <value>right</value>
      <value>center</value>
    </choice>
  </define>

  <define name="data.TEMPERAMENT">
    <a:documentation>Temperament</a:documentation>
    <choice>
      <value>equal</value>
      <value>just</value>
      <value>mean</value>
      <value>pythagorean</value>
    </choice>
  </define>

  <define name="data.TEXTRENDITION">
    <a:documentation>Text rendition values</a:documentation>
    <choice>
      <value>box</value>
      <value>circle</value>
      <value>dblunderline</value>
      <value>none</value>
      <value>quote</value>
      <value>slash</value>
      <!-- 'slash' intended for use in figured bass  -->
      <value>smcaps</value>
      <value>strike</value>
      <value>sub</value>
      <value>sup</value>
      <value>underline</value>
    </choice>
  </define>

  <define name="data.TIE">
    <a:documentation>Tie attribute values: initial, medial,
      terminal</a:documentation>
    <data type="token">
      <param name="pattern">[i|m|t]</param>
    </data>
  </define>

  <define name="data.TIEDIRECTION">
    <a:documentation>Tie direction</a:documentation>
    <choice>
      <value>up</value>
      <value>down</value>
    </choice>
  </define>

  <define name="data.TIES">
    <a:documentation>One or more from the list given in the definition of
      data.TIE.</a:documentation>
    <list>
      <oneOrMore>
        <ref name="data.TIE"/>
      </oneOrMore>
    </list>
  </define>

  <define name="data.TUPLET">
    <a:documentation>Tuplet attribute values: initial, medial,
      terminal</a:documentation>
    <data type="token">
      <param name="pattern">[i|m|t][1-6]</param>
    </data>
  </define>

  <define name="data.TUPLETS">
    <a:documentation>One or more from the list given in the definition of
      data.TUPLET.</a:documentation>
    <list>
      <oneOrMore>
        <ref name="data.TUPLET"/>
      </oneOrMore>
    </list>
  </define>

  <define name="data.UNEUMENAME">
    <a:documentation>Basic, i.e., single, uninterrupted, neume
      names</a:documentation>
    <choice>
      <value>punctum</value>
      <value>virga</value>
      <value>pes</value>
      <value>clivis</value>
      <value>torculus</value>
      <value>torculusresupinus</value>
      <value>porrectus</value>
      <value>porrectusflexus</value>
      <value>apostropha</value>
      <value>oriscus</value>
      <value>pressusmaior</value>
      <value>pressusminor</value>
      <value>virgastrata</value>
    </choice>
  </define>

  <define name="data.UNEUMEFORM">
    <a:documentation>Basic, i.e., single, uninterrupted, neume
      forms</a:documentation>
    <choice>
      <value>liquescent1</value>
      <value>liquescent2</value>
      <value>liquescent3</value>
      <value>quilismatic</value>
      <value>rectangular</value>
      <value>rhombic</value>
      <value>tied</value>
    </choice>
  </define>

  <define name="data.INTERLINE">
    <a:documentation>Distance expressed in terms of staff interline distance;
      that is, units of 1/2 the distance between adjacent
      staves.</a:documentation>
    <data type="decimal"/>
  </define>

</grammar>
