schemaDevelopment/RNG/edittrans_Module.rng

<?xml version="1.0" encoding="UTF-8"?>

<!-- ************************************************************** -->
<!--
  NAME:     Music Encoding Initiative (MEI) schema component:
            edittrans_Module.rng
  
  NOTICE:   Copyright (c) 2010 by the Music Encoding Initiative (MEI)
            Council.
  
            Licensed under the Educational Community License, Version
            2.0 (the "License"); you may not use this file except in
            compliance with the License. You may obtain a copy of the
            License at http://www.osedu.org/licenses/ECL-2.0.
            
            Unless required by applicable law or agreed to in writing,
            software distributed under the License is distributed on
            an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
            KIND, either express or implied. See the License for the
            specific language governing permissions and limitations
            under the License.
            
            This is a derivative work based on earlier versions of the
            schema copyright (c) 2001-2006 Perry Roland and the Rector
            and Visitors of the University of Virginia; licensed under
            the Educational Community License version 1.0.
  
  CONTACT:  contact@music-encoding.org 
-->

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  xmlns:tei="http://www.tei-c.org/ns/1.0"
  xmlns:xhtml="http://www.w3.org/1999/xhtml"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  ns="http://www.music-encoding.org/ns/mei"
  xmlns:mei="http://www.music-encoding.org/ns/mei">

  <!-- EditTrans module -->
  <!-- Declare module attr classes -->
  <define name="att.edit" combine="interleave">
    <a:documentation xml:lang="eng">Attributes describing the nature of an
      encoded scholarly intervention or interpretation</a:documentation>
    <ref name="att.responsibility"/>
    <ref name="att.source"/>
    <optional>
      <attribute name="cert">
        <a:documentation xml:lang="eng">signifies the degree of certainty or
          precision associated with a feature.</a:documentation>
        <ref name="data.CERTAINTY"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="evidence">
        <a:documentation xml:lang="eng">indicates the nature of the evidence
          supporting the reliability or accuracy of the intervention or
          interpretation. Suggested values include: 'internal', 'external',
          'conjecture'.</a:documentation>
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>

  <define name="att.agentident" combine="interleave">
    <a:documentation>Attributes for the identification of a causative
      agent</a:documentation>
    <optional>
      <attribute name="agent">
        <a:documentation xml:lang="eng">signifies the causative agent of damage,
          illegibility, or other loss of original text.</a:documentation>
      </attribute>
    </optional>
  </define>

  <define name="att.extent" combine="interleave">
    <a:documentation>Attributes for identification of the extent of editorial
      assertions</a:documentation>
    <optional>
      <attribute name="extent">
        <a:documentation xml:lang="eng">indicates the extent of damage or
          omission.</a:documentation>
      </attribute>
    </optional>
  </define>

  <define name="att.reasonident" combine="interleave">
    <optional>
      <attribute name="reason">
        <a:documentation xml:lang="eng">holds a short phrase describing the
          reason for missing textual material (gap), why material is supplied
          (supplied), or why transcription is difficult
          (unclear).</a:documentation>
      </attribute>
    </optional>
  </define>

  <define name="att.trans" combine="interleave">
    <a:documentation xml:lang="eng">Attributes for elements encoding authorial
      or scribal intervention when transcribing manuscript or similar
      sources</a:documentation>
    <ref name="att.handident"/>
    <ref name="att.sequence"/>
  </define>

  <!-- Declare module model classes -->
  <define name="model.choicePart" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that may appear as part of
      the content of a choice element.</a:documentation>
    <choice>
      <ref name="corr"/>
      <ref name="orig"/>
      <ref name="reg"/>
      <ref name="sic"/>
      <ref name="unclear"/>
      <ref name="model.editorialLike"/>
    </choice>
  </define>

  <define name="model.editLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements for editorial interventions
      that may be useful both in transcribing and in
      authoring.</a:documentation>
    <choice>
      <ref name="choice"/>
      <ref name="handshift"/>
      <ref name="gap"/>
      <ref name="subst"/>
    </choice>
  </define>

  <define name="model.transcriptionLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements used for editorial
      transcription of pre-existing source materials.</a:documentation>
    <choice>
      <ref name="add"/>
      <ref name="corr"/>
      <ref name="damage"/>
      <ref name="del"/>
      <ref name="orig"/>
      <ref name="reg"/>
      <ref name="restore"/>
      <ref name="sic"/>
      <ref name="supplied"/>
      <ref name="unclear"/>
    </choice>
  </define>

  <!-- Declare module elements -->
  <define name="content.add">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.eventLike"/>
        <ref name="model.eventLike.neumes"/>
        <ref name="model.controleventLike"/>
        <ref name="model.lyricsLike"/>
        <ref name="model.midiLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
        <ref name="model.eventLike.measureFilling"/>
        <ref name="model.noteModifierLike"/>
        <ref name="model.sectionLike"/>
        <ref name="model.measureLike"/>
        <ref name="model.staffLike"/>
        <ref name="model.layerLike"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="add">
    <element name="add">
      <a:documentation xml:lang="eng">addition ― Marks an addition to the text.
        The add element contains material inserted by an author, scribe,
        annotator, or corrector. The agent responsible for the addition may be
        encoded using the hand attribute, while the resp attribute records the
        editor or transcriber responsible for identifying the hand of the
        addition. The cert attribute signifies the degree of certainty ascribed
        to the identification of the hand of the addition. The editor(s)
        responsible for asserting this particular reading may be recorded in the
        resp attribute. The value of resp must point to one or more identifiers
        declared in the document header. This element is modelled on an element
        in the Text Encoding Initiative (TEI).</a:documentation>
      <ref name="attlist.add"/>
      <ref name="content.add"/>
    </element>
  </define>

  <define name="attlist.add">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.edit"/>
    <ref name="att.trans"/>
  </define>

  <define name="content.choice">
    <zeroOrMore>
      <choice>
        <ref name="choice"/>
        <ref name="model.choicePart"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="choice">
    <element name="choice">
      <a:documentation xml:lang="eng">choice ― Groups a number of alternative
        encodings for the same point in a text. Because the children of a choice
        element all represent alternative ways of encoding the same sequence, it
        is natural to think of them as mutually exclusive. However, there may be
        cases where a full representation of a text requires the alternative
        encodings to be considered as parallel. Note also that choice elements
        may be recursively nested. This element is modelled on an element in the
        Text Encoding Initiative (TEI).</a:documentation>
      <ref name="attlist.choice"/>
      <ref name="content.choice"/>
    </element>
  </define>

  <define name="attlist.choice">
    <ref name="att.common"/>
  </define>

  <define name="content.corr">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.eventLike"/>
        <ref name="model.eventLike.neumes"/>
        <ref name="model.controleventLike"/>
        <ref name="model.lyricsLike"/>
        <ref name="model.midiLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
        <ref name="model.eventLike.measureFilling"/>
        <ref name="model.noteModifierLike"/>
        <ref name="model.sectionLike"/>
        <ref name="model.measureLike"/>
        <ref name="model.staffLike"/>
        <ref name="model.layerLike"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="corr">
    <element name="corr">
      <a:documentation xml:lang="eng">correction ― Contains the correct form of
        an apparent erroneous passage. The cert attribute signifies the degree
        of certainty ascribed to correction. The resp attribute contains an ID
        reference to an element containing the name of the editor or transcriber
        responsible for suggesting the correction held as the content of the
        &lt;corr&gt; element. If the correction was made in the source,
        resp should be used to identify the hand of the corrector. The value of
        resp must point to one or more identifiers declared in the document
        header. This element is modelled on an element in the Text Encoding
        Initiative (TEI).</a:documentation>
      <ref name="attlist.corr"/>
      <ref name="content.corr"/>
    </element>
  </define>

  <define name="attlist.corr">
    <ref name="att.common"/>
    <ref name="att.edit"/>
    <ref name="att.trans"/>
  </define>

  <define name="content.damage">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.eventLike"/>
        <ref name="model.eventLike.neumes"/>
        <ref name="model.controleventLike"/>
        <ref name="model.lyricsLike"/>
        <ref name="model.midiLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
        <ref name="model.eventLike.measureFilling"/>
        <ref name="model.noteModifierLike"/>
        <ref name="model.sectionLike"/>
        <ref name="model.measureLike"/>
        <ref name="model.staffLike"/>
        <ref name="model.layerLike"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="damage">
    <element name="damage">
      <a:documentation xml:lang="eng">damage ― Contains an area of damage to the
        carrier. In the case of damage resulting from an identifiable cause, the
        agent attribute signifies the causative agent. The degree attribute
        signifies the degree of damage according to a convenient scale. A
        &lt;damage&gt; tag with this attribute should only be used where
        the text may be read with some confidence; data supplied from other
        sources should be tagged as &lt;supplied&gt;. The extent
        attribute indicates approximately how much text is in the damaged area,
        in notes, measures, inches, or any appropriate unit, where this cannot
        be deduced from the contents of the tag. For example, the damage may
        span structural divisions in the text so that the tag must then be empty
        of content. In the case of damage (deliberate defacement, etc.)
        assignable to an identifiable hand, the hand attribute signifies the
        hand responsible for the damage. This element is modelled on an element
        in the Text Encoding Initiative (TEI).</a:documentation>
      <ref name="attlist.damage"/>
      <ref name="content.damage"/>
    </element>
  </define>

  <define name="attlist.damage">
    <ref name="att.agentident"/>
    <ref name="att.common"/>
    <ref name="att.extent"/>
    <ref name="att.facsimile"/>
    <ref name="att.handident"/>
    <ref name="att.typed"/>
    <optional>
      <attribute name="degree">
        <a:documentation xml:lang="eng">records the degree of
          damage.</a:documentation>
      </attribute>
    </optional>
  </define>

  <define name="content.del">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.eventLike"/>
        <ref name="model.eventLike.neumes"/>
        <ref name="model.controleventLike"/>
        <ref name="model.lyricsLike"/>
        <ref name="model.midiLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
        <ref name="model.eventLike.measureFilling"/>
        <ref name="model.noteModifierLike"/>
        <ref name="model.sectionLike"/>
        <ref name="model.measureLike"/>
        <ref name="model.staffLike"/>
        <ref name="model.layerLike"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="del">
    <element name="del">
      <a:documentation xml:lang="eng">deletion ― Contains information deleted,
        marked as deleted, or otherwise indicated as superfluous or spurious in
        the copy text by an author, scribe, annotator, or corrector. The resp
        attribute contains an ID reference to an element containing the name of
        the editor or transcriber responsible for identifying the hand of the
        deletion. The cert attribute signifies the degree of certainty ascribed
        to the identification of the hand of the deletion. The hand of the agent
        which made the deletion should be pointed to using the hand attribute.
        The rend attribute may be used to record the method used to make the
        deletion (overstrike, strike[through], etc.) or how the deleted matter
        should be displayed. This element is modelled on an element in the Text
        Encoding Initiative (TEI).</a:documentation>
      <ref name="attlist.del"/>
      <ref name="content.del"/>
    </element>
  </define>

  <define name="attlist.del">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.trans"/>
    <optional>
      <attribute name="rend">
        <a:documentation xml:lang="eng">contains an indication of how the
          deletion should be rendered.</a:documentation>
      </attribute>
    </optional>
  </define>

  <define name="content.gap">
    <empty/>
  </define>

  <define name="gap">
    <element name="gap">
      <a:documentation xml:lang="eng">gap ― Indicates a point where material has
        been omitted in a transcription, whether as part of sampling practice or
        for editorial reasons described in the MEI header. When material is
        omitted because it is illegible or inaudible, &lt;unclear&gt;
        should be used instead. Similarly, use &lt;damage&gt; if the
        omission is due to damage and &lt;del&gt; if the omission is
        because the material is marked as deleted, or otherwise indicated as
        superfluous or spurious in the copy text by an author, scribe,
        annotator, or corrector. An indication of how much material has been
        omitted from the transcription may be recorded in the extent attribute.
        The unit attribute names the unit used for describing the extent of the
        gap. The reason attribute gives the reason for omission. Sample values
        include 'sampling', 'irrelevant', 'cancelled'. The resp attribute
        contains an ID reference to an element containing the name of the
        editor, transcriber or encoder responsible for the decision not to
        provide any transcription of the material and hence the application of
        the &lt;gap&gt; tag. The hand attribute signifies the hand which
        made the deletion in the case of text omitted from the transcription
        because of deliberate deletion by an identifiable hand. The cert
        attribute signifies the degree of certainty ascribed to the
        identification of the extent of the missing material. This element is
        modelled on an element in the Text Encoding Initiative
        (TEI).</a:documentation>
      <ref name="attlist.gap"/>
      <ref name="content.gap"/>
    </element>
  </define>

  <define name="attlist.gap">
    <ref name="att.common"/>
    <ref name="att.edit"/>
    <ref name="att.extent"/>
    <ref name="att.handident"/>
    <ref name="att.measurement"/>
    <ref name="att.reasonident"/>
  </define>

  <define name="content.handshift">
    <empty/>
  </define>

  <define name="handshift">
    <element name="handshift">
      <a:documentation xml:lang="eng">hand shift ― Marks the beginning of a
        passage written in a new hand, or of a change in the scribe, writing
        style, ink or character of the document hand. The character attribute
        describes characteristics of the hand, particularly those related to the
        quality of the writing, e.g., 'shaky', 'thick', regular'. A description
        of the tint or type of ink, e.g. 'brown' or the writing medium, e.g.
        'pencil', may be placed in the medium attribute. The new hand may be
        identified using the new attribute, while the previous hand may be
        recorded in the old attribute. The resp attribute contains an ID
        reference to an element containing the name of the editor or transcriber
        responsible for identifying the change of hand. The cert attribute
        signifies the degree of certainty ascribed to the identification of the
        new hand. This element is modelled on an element in the Text Encoding
        Initiative (TEI).</a:documentation>
      <ref name="attlist.handshift"/>
      <ref name="content.handshift"/>
    </element>
  </define>

  <define name="attlist.handshift">
    <ref name="att.common"/>
    <ref name="att.edit"/>
    <ref name="att.facsimile"/>
    <ref name="att.medium"/>
    <optional>
      <attribute name="character">
        <a:documentation xml:lang="eng">describes the character of the new
          hand.</a:documentation>
      </attribute>
    </optional>
    <optional>
      <attribute name="new">
        <a:documentation xml:lang="eng">identifies the new hand. The value must
          contain the ID of a hand element given elsewhere in the
          document.</a:documentation>
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="old">
        <a:documentation xml:lang="eng">identifies the old hand. The value must
          contain the ID of a hand element given elsewhere in the
          document.</a:documentation>
        <data type="IDREF"/>
      </attribute>
    </optional>
  </define>

  <define name="content.orig">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.eventLike"/>
        <ref name="model.eventLike.neumes"/>
        <ref name="model.controleventLike"/>
        <ref name="model.lyricsLike"/>
        <ref name="model.midiLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
        <ref name="model.eventLike.measureFilling"/>
        <ref name="model.noteModifierLike"/>
        <ref name="model.sectionLike"/>
        <ref name="model.measureLike"/>
        <ref name="model.staffLike"/>
        <ref name="model.layerLike"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="orig">
    <element name="orig">
      <a:documentation xml:lang="eng">original ― Contains a reading which is
        marked as following the original, rather than being normalized or
        corrected. This element will often be combined with a regularized form
        within a choice element. The editor(s) responsible for asserting that
        the material is original may be recorded in the resp attribute. The
        value of resp must point to one or more identifiers declared in the
        document header. The cert attribute signifies the degree of certainty
        ascribed to the transcription of the original text. This element is
        modelled on an element in the Text Encoding Initiative
        (TEI).</a:documentation>
      <ref name="attlist.orig"/>
      <ref name="content.orig"/>
    </element>
  </define>

  <define name="attlist.orig">
    <ref name="att.common"/>
    <ref name="att.edit"/>
    <ref name="att.facsimile"/>
    <ref name="att.typed"/>
  </define>

  <define name="content.reg">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.eventLike"/>
        <ref name="model.eventLike.neumes"/>
        <ref name="model.controleventLike"/>
        <ref name="model.lyricsLike"/>
        <ref name="model.midiLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
        <ref name="model.eventLike.measureFilling"/>
        <ref name="model.noteModifierLike"/>
        <ref name="model.sectionLike"/>
        <ref name="model.measureLike"/>
        <ref name="model.staffLike"/>
        <ref name="model.layerLike"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="reg">
    <element name="reg">
      <a:documentation xml:lang="eng">regularization ― Contains a reading which
        has been regularized or normalized in some sense. It is possible to
        identify the individual responsible for the regularization, and, using
        the choice and orig elements, to provide both original and regularized
        readings. The editor(s) responsible for asserting the regularized
        material may be recorded in the resp attribute. The value of resp must
        point to one or more identifiers declared in the document header. The
        cert attribute signifies the degree of certainty ascribed to the
        regularized reading. This element is modelled on an element in the Text
        Encoding Initiative (TEI).</a:documentation>
      <ref name="attlist.reg"/>
      <ref name="content.reg"/>
    </element>
  </define>

  <define name="attlist.reg">
    <ref name="att.common"/>
    <ref name="att.edit"/>
  </define>

  <define name="content.restore">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.eventLike"/>
        <ref name="model.eventLike.neumes"/>
        <ref name="model.controleventLike"/>
        <ref name="model.lyricsLike"/>
        <ref name="model.midiLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
        <ref name="model.eventLike.measureFilling"/>
        <ref name="model.noteModifierLike"/>
        <ref name="model.sectionLike"/>
        <ref name="model.measureLike"/>
        <ref name="model.staffLike"/>
        <ref name="model.layerLike"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="restore">
    <element name="restore">
      <a:documentation xml:lang="eng">restore ― Indicates restoration of musical
        material to an earlier state by cancellation of an editorial or
        authorial marking or instruction. The desc (description) attribute gives
        a prose description of the means of restoration, 'stet' or
        'strike-down', for example. The cert attribute signifies the degree of
        certainty ascribed to the identification of the hand of the restoration.
        The type attribute may be used to indicate the action cancelled by the
        restoration. The resp attribute contains an ID reference to an element
        containing the name of the editor or transcriber responsible for
        identifying the hand of the restoration. The hand attribute signifies
        the hand of the agent which made the restoration. This element is
        modelled on an element in the Text Encoding Initiative
        (TEI).</a:documentation>
      <ref name="attlist.restore"/>
      <ref name="content.restore"/>
    </element>
  </define>

  <define name="attlist.restore">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.trans"/>
    <ref name="att.typed"/>
    <optional>
      <attribute name="desc">
        <a:documentation xml:lang="eng">provides a description of the means of
          restoration.</a:documentation>
      </attribute>
    </optional>
  </define>

  <define name="content.sic">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.eventLike"/>
        <ref name="model.eventLike.neumes"/>
        <ref name="model.controleventLike"/>
        <ref name="model.lyricsLike"/>
        <ref name="model.midiLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
        <ref name="model.eventLike.measureFilling"/>
        <ref name="model.noteModifierLike"/>
        <ref name="model.sectionLike"/>
        <ref name="model.measureLike"/>
        <ref name="model.staffLike"/>
        <ref name="model.layerLike"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="sic">
    <element name="sic">
      <a:documentation xml:lang="eng">sic ― Contains apparently incorrect or
        inaccurate musical material. A correction for the apparent error may be
        given in an accompanying child or sibling corr element. This element is
        modelled on an element in the Text Encoding Initiative
        (TEI).</a:documentation>
      <ref name="attlist.sic"/>
      <ref name="content.sic"/>
    </element>
  </define>

  <define name="attlist.sic">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
  </define>

  <define name="content.subst">
    <ref name="model.transcriptionLike"/>
    <oneOrMore>
      <ref name="model.transcriptionLike"/>
    </oneOrMore>
  </define>

  <define name="subst">
    <element name="subst">
      <a:documentation xml:lang="eng">substitution ― Groups transcriptional
        elements when the combination is to be regarded as a single intervention
        in the text. This element is modelled on an element in the Text Encoding
        Initiative (TEI).</a:documentation>
      <ref name="attlist.subst"/>
      <ref name="content.subst"/>
    </element>
  </define>

  <define name="attlist.subst">
    <ref name="att.common"/>
  </define>

  <define name="content.supplied">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.eventLike"/>
        <ref name="model.eventLike.neumes"/>
        <ref name="model.controleventLike"/>
        <ref name="model.lyricsLike"/>
        <ref name="model.midiLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
        <ref name="model.eventLike.measureFilling"/>
        <ref name="model.noteModifierLike"/>
        <ref name="model.sectionLike"/>
        <ref name="model.measureLike"/>
        <ref name="model.staffLike"/>
        <ref name="model.layerLike"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="supplied">
    <element name="supplied">
      <a:documentation xml:lang="eng">supplied ― Contains musical material
        supplied by the transcriber or editor in place of text which cannot be
        read, either because of physical damage or loss in the original or
        because it is illegible for any reason. When the presumed loss of text
        arises from an identifiable cause, agent signifies the causative agent.
        When the presumed loss of text arises from action (partial deletion,
        etc.) assignable to an identifiable hand, the hand attribute signifies
        the hand responsible for the action. The reason attribute indicates why
        the text has to be supplied, e.g. 'overbinding', 'faded ink', 'lost
        folio', 'omitted in original', etc. The source attribute contains the
        source of the supplied text. The editor(s) responsible for supplied
        material may be recorded in the resp attribute. The value of resp must
        point to one or more identifiers declared in the document header. The
        cert attribute signifies the degree of certainty ascribed to the
        supplied material. This element is modelled on an element in the Text
        Encoding Initiative (TEI).</a:documentation>
      <ref name="attlist.supplied"/>
      <ref name="content.supplied"/>
    </element>
  </define>

  <define name="attlist.supplied">
    <ref name="att.agentident"/>
    <ref name="att.common"/>
    <ref name="att.edit"/>
    <ref name="att.facsimile"/>
    <ref name="att.reasonident"/>
  </define>

  <define name="content.unclear">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.eventLike"/>
        <ref name="model.eventLike.neumes"/>
        <ref name="model.controleventLike"/>
        <ref name="model.lyricsLike"/>
        <ref name="model.midiLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
        <ref name="model.eventLike.measureFilling"/>
        <ref name="model.noteModifierLike"/>
        <ref name="model.sectionLike"/>
        <ref name="model.measureLike"/>
        <ref name="model.staffLike"/>
        <ref name="model.layerLike"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="unclear">
    <element name="unclear">
      <a:documentation xml:lang="eng">unclear ― Contains musical material that
        cannot be transcribed with certainty because it is illegible or
        inaudible in the source. Where the difficulty in transcription arises
        from an identifiable cause, the agent attribute signifies the causative
        agent. The cert attribute signifies the degree of certainty ascribed to
        the transcription of the text contained within the
        &lt;unclear&gt; element. Where the difficulty in transcription
        arises from action (partial deletion, etc.) assignable to an
        identifiable hand, the hand attribute signifies the hand responsible for
        the action. The reason attribute indicates why the material is difficult
        to transcribe. The resp attribute indicates the individual responsible
        for the transcription of the word, phrase, or passage contained with the
        &lt;unclear&gt; element. The value of resp must point to one or
        more identifiers declared in the document header. This element is
        modelled on an element in the Text Encoding Initiative
        (TEI).</a:documentation>
      <ref name="attlist.unclear"/>
      <ref name="content.unclear"/>
    </element>
  </define>

  <define name="attlist.unclear">
    <ref name="att.agentident"/>
    <ref name="att.common"/>
    <ref name="att.edit"/>
    <ref name="att.facsimile"/>
    <ref name="att.handident"/>
    <ref name="att.reasonident"/>
  </define>

</grammar>
