trunk/schemaDevelopment/XSD/cmnOrnaments_Module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.music-encoding.org/ns/mei" xmlns:mei="http://www.music-encoding.org/ns/mei" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import schemaLocation="analysis_Module.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- CMN Ornaments Module -->
  <!-- Declare module attr classes -->
  <xs:attributeGroup name="att.ornamentaccid">
    <xs:annotation>
      <xs:documentation>Accidentals associated with ornaments</xs:documentation>
    </xs:annotation>
    <xs:attribute name="accidupper" type="mei:data.ACCIDENTAL.EXPLICIT">
      <xs:annotation>
        <xs:documentation>records the written accidental
          associated with an upper neighboring note.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="accidlower" type="mei:data.ACCIDENTAL.EXPLICIT">
      <xs:annotation>
        <xs:documentation>records the written accidental
          associated with a lower neighboring note.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.mordent.anl">
    <xs:annotation>
      <xs:documentation>Analytical domain
      attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="att.common.anl"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.mordent.log">
    <xs:annotation>
      <xs:documentation>Logical domain attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="mei:att.controlevent"/>
    <xs:attributeGroup ref="mei:att.startendid"/>
    <xs:attributeGroup ref="mei:att.ornamentaccid"/>
    <xs:attribute name="form">
      <xs:annotation>
        <xs:documentation>'norm' signals the normal form, that is,
          the written note, followed by its lower neighbor, with a return to the
          written note, while 'inv' indicates the inverted form, that is, the
          principal note, followed by its upper neighbor, with a return to the
          principal note. Traditionally, the 'normal' mordent is written as a
          short wavy line with a vertical line through it and the inverted
          mordent is written without the vertical line. However, the meaning of
          these signs is sometimes reversed. See Read, p. 245-246. Another
          attribute in the visual domain would be necessary in order to be
          completely explicit about which visual symbol is actually to be
          rendered.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="inv"/>
          <xs:enumeration value="norm"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="long" type="mei:data.BOOLEAN">
      <xs:annotation>
        <xs:documentation>When the long attribute is set to 'yes',
          a double or long mordent, consisting of 5 notes, is
          indicated.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.mordent.vis">
    <xs:annotation>
      <xs:documentation>Visual domain attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="mei:att.color"/>
    <xs:attributeGroup ref="mei:att.placement"/>
    <xs:attributeGroup ref="mei:att.visualoffset"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.trill.anl">
    <xs:annotation>
      <xs:documentation>Analytical domain
      attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="att.common.anl"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.trill.ges">
    <xs:annotation>
      <xs:documentation>Gestural domain attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="mei:att.duration.performed"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.trill.log">
    <xs:annotation>
      <xs:documentation>Logical domain attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="mei:att.controlevent"/>
    <xs:attributeGroup ref="mei:att.startendid"/>
    <xs:attributeGroup ref="mei:att.ornamentaccid"/>
    <xs:attributeGroup ref="mei:att.duration.timestamp"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.trill.vis">
    <xs:annotation>
      <xs:documentation>Visual domain attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="mei:att.color"/>
    <xs:attributeGroup ref="mei:att.placement"/>
    <xs:attributeGroup ref="mei:att.visualoffset"/>
    <xs:attributeGroup ref="mei:att.visualoffset2.ho"/>
    <xs:attributeGroup ref="mei:att.visualoffset2.to"/>
    <xs:attributeGroup ref="mei:att.xy"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.turn.anl">
    <xs:annotation>
      <xs:documentation>Analytical domain
      attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="att.common.anl"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.turn.log">
    <xs:annotation>
      <xs:documentation>Logical domain attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="mei:att.controlevent"/>
    <xs:attributeGroup ref="mei:att.ornamentaccid"/>
    <xs:attributeGroup ref="mei:att.startid"/>
    <xs:attribute name="delayed" type="mei:data.BOOLEAN">
      <xs:annotation>
        <xs:documentation>When the delayed attribute is set to
          'yes', the turn begins on the second half of the beat. See Read, p.
          246.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="form">
      <xs:annotation>
        <xs:documentation>indicates whether the turn begins on the
          note above (norm) or on the note below (inv).</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="inv"/>
          <xs:enumeration value="norm"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.turn.vis">
    <xs:annotation>
      <xs:documentation>Visual domain attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="mei:att.color"/>
    <xs:attributeGroup ref="mei:att.placement"/>
    <xs:attributeGroup ref="mei:att.visualoffset"/>
    <xs:attributeGroup ref="mei:att.xy"/>
  </xs:attributeGroup>
  <!-- Declare module model classes -->
  <xs:group name="model.ornamentLike.cmn">
    <xs:annotation>
      <xs:documentation>groups CMN ornament
      elements.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element ref="mei:mordent"/>
      <xs:element ref="mei:trill"/>
      <xs:element ref="mei:turn"/>
    </xs:choice>
  </xs:group>
  <!-- Declare module elements -->
  <xs:complexType name="content.mordent">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.eventLike"/>
  </xs:complexType>
  <xs:element name="mordent">
    <xs:annotation>
      <xs:documentation>mordent ― An ornament indicating rapid
        alternation of the main note with a secondary note, usually a step
        below, but sometimes a step above. See Read, p. 245-246. Events may be
        contained within &lt;mordent&gt; in order to record precise
        performance data. The starting point of the mordent may be indicated by
        either a tstamp, tstamp.ges, tstamp.real or startid attribute. It is a
        semantic error not to specify a starting point
        attribute.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.mordent">
          <xs:attributeGroup ref="mei:attlist.mordent"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.mordent">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.facsimile"/>
    <xs:attributeGroup ref="mei:att.mordent.log"/>
    <xs:attributeGroup ref="mei:att.mordent.vis"/>
    <xs:attributeGroup ref="mei:att.mordent.anl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.trill">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.eventLike"/>
  </xs:complexType>
  <xs:element name="trill">
    <xs:annotation>
      <xs:documentation>trill ― Rapid alternation of a note with
        one (usually at the interval of a second) above. Usually, the interval
        is understood to be diatonic unless altered by an accidental. The
        starting note of the trill; i.e., the written one or the ornamenting
        one, and the speed of alternation depends on performance practice.
        Events may be contained within &lt;trill&gt; in order to record
        precise performance data. The starting point of the trill may be
        indicated by either a tstamp, tstamp.ges, tstamp.real or startid
        attribute, while the ending point may be recorded by either a dur,
        dur.ges or endid attribute. It is a semantic error not to specify a
        starting point attribute. Please note that the dur attribute is not a
        true duration, but rather a time stamp for the end point of the
        trill.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.trill">
          <xs:attributeGroup ref="mei:attlist.trill"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.trill">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.facsimile"/>
    <xs:attributeGroup ref="mei:att.trill.log"/>
    <xs:attributeGroup ref="mei:att.trill.vis"/>
    <xs:attributeGroup ref="mei:att.trill.ges"/>
    <xs:attributeGroup ref="mei:att.trill.anl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.turn">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.eventLike"/>
  </xs:complexType>
  <xs:element name="turn">
    <xs:annotation>
      <xs:documentation>turn ― An ornament consisting of four
        notes — the upper neighbor of the written note, the written note, the
        lower neighbor, and the written note. See Read, p. 246-247. Events may
        be contained within &lt;turn&gt; in order to record precise
        performance data. Whether the turn is accented or unaccented may be
        inferred from the timestamp — accented turns occur directly on the
        affected beat, unaccented ones do not.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.turn">
          <xs:attributeGroup ref="mei:attlist.turn"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.turn">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.facsimile"/>
    <xs:attributeGroup ref="mei:att.turn.log"/>
    <xs:attributeGroup ref="mei:att.turn.vis"/>
    <xs:attributeGroup ref="mei:att.turn.anl"/>
  </xs:attributeGroup>
</xs:schema>
