trunk/schemaDevelopment/XSD/header_Module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.music-encoding.org/ns/mei" xmlns:mei="http://www.music-encoding.org/ns/mei" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import schemaLocation="analysis_Module.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- Header Module -->
  <!-- Declare additional start elements -->
  <!-- Declare module attr classes -->
  <xs:attributeGroup name="att.regularmethod">
    <xs:annotation>
      <xs:documentation>Attributes that describe correction and
      normalization methods</xs:documentation>
    </xs:annotation>
    <xs:attribute name="method">
      <xs:annotation>
        <xs:documentation>indicates the method employed to mark
          corrections and normalizations.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="silent"/>
          <xs:enumeration value="tags"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!-- Declare module model classes -->
  <xs:complexType name="model.availabilityPart">
    <xs:annotation>
      <xs:documentation>groups elements that may appear as part of a
      description of the availability of and access to a bibliographic
      item.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="mei:acqsource"/>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="mei:accessdesc"/>
          <xs:element minOccurs="0" ref="mei:price"/>
        </xs:sequence>
      </xs:sequence>
      <xs:element minOccurs="0" ref="mei:userestrict"/>
      <xs:element minOccurs="0" ref="mei:sysreq"/>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="model.editorialdeclPart">
    <xs:annotation>
      <xs:documentation>groups elements that may appear as part of a
      description of the editorial process applied to the encoding of
      notation.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element ref="mei:correction"/>
      <xs:element ref="mei:interpretation"/>
      <xs:element ref="mei:normalization"/>
      <xs:element ref="mei:segmentation"/>
      <xs:element ref="mei:stdvals"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="model.encodingPart">
    <xs:annotation>
      <xs:documentation>groups elements that may appear as part of
      information regarding the encoding process.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="mei:appinfo"/>
      <xs:element minOccurs="0" ref="mei:projectdesc"/>
      <xs:element minOccurs="0" ref="mei:samplingdecl"/>
      <xs:element minOccurs="0" ref="mei:editorialdecl"/>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="model.frontPart">
    <xs:annotation>
      <xs:documentation>groups elements that may appear as part of
      front matter.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="mei:titlepage"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.headerPart">
    <xs:annotation>
      <xs:documentation>groups elements that may appear as part of
      the MEI header.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="mei:encodingdesc"/>
      <xs:element minOccurs="0" ref="mei:profiledesc"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.physdescPart">
    <xs:annotation>
      <xs:documentation>groups elements that may appear as part of
      the physical description of a bibliographic item.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element ref="mei:condition"/>
      <xs:element ref="mei:dimensions"/>
      <xs:element ref="mei:exhibithist"/>
      <xs:element ref="mei:extent"/>
      <xs:element ref="mei:handlist"/>
      <xs:element ref="mei:inscription"/>
      <xs:element ref="mei:physmedium"/>
      <xs:element ref="mei:physloc"/>
      <xs:element ref="mei:provenance"/>
      <xs:group ref="mei:model.repositoryLike"/>
      <xs:group ref="mei:model.frontPart"/>
      <xs:element ref="mei:treatmenthist"/>
      <xs:element ref="mei:treatmentsched"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="model.profiledescPart">
    <xs:annotation>
      <xs:documentation>groups elements that may appear as part of
      the profile description.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="mei:creation"/>
      <xs:element minOccurs="0" ref="mei:langusage"/>
      <xs:element minOccurs="0" ref="mei:classification"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="mei:eventlist"/>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="model.pubstmtPart">
    <xs:annotation>
      <xs:documentation>groups elements that may appear as part of
      the publication statement for a bibliographic item.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:group ref="mei:model.nameLike.geogname"/>
      <xs:group ref="mei:model.addressLike"/>
      <xs:element ref="mei:respstmt"/>
      <xs:group ref="mei:model.dateLike"/>
      <xs:group ref="mei:model.identifierLike"/>
      <xs:element ref="mei:availability"/>
    </xs:choice>
  </xs:group>
  <!-- Declare module elements -->
  <xs:complexType name="content.meihead">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="mei:altmeiid"/>
      <xs:element ref="mei:filedesc"/>
      <xs:group ref="mei:model.headerPart"/>
      <xs:element minOccurs="0" ref="mei:revisiondesc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="meihead">
    <xs:annotation>
      <xs:documentation>meihead ― A wrapper for general
        bibliographic and descriptive information about the encoded file. This
        information is often essential in a machine-readable environment. Five
        sub-elements must be encoded in the following order:
        &lt;altmeiid&gt;(optional), &lt;filedesc&gt;(required),
        &lt;encodingdesc&gt;(optional),
        &lt;profiledesc;&gt;(optional), and
        &lt;revisiondesc&gt;(optional). These elements and their
        sub-elements provide: a unique identifier for the MEI file,
        bibliographic information about the MEI file and its sources,
        information about the encoding process, information about the creation
        of the work being encoded, and statements regarding significant
        revisions of the file. The xml:lang attribute may be used to indicate
        the language in which the metadata content of the header is provided. In
        order to encourage uniformity in the provision of metadata across
        document types, this element is modelled on an element in the Text
        Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.meihead">
          <xs:attributeGroup ref="mei:attlist.meihead"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.meihead">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.lang"/>
    <xs:attributeGroup ref="mei:att.meiversion"/>
    <xs:attribute name="type">
      <xs:annotation>
        <xs:documentation>specifies the kind of document to which
          the header is attached, that is, whether it is a corpus or an
          individual text.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="music"/>
          <xs:enumeration value="corpus"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="content.accessdesc" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="accessdesc">
    <xs:annotation>
      <xs:documentation>access description ― Describes the
        conditions that affect the accessibility of material. May indicate the
        nature of restrictions or the lack of restrictions. Do not confuse this
        element with &lt;userestrict&gt; (usage restrictions), which
        captures information about limitations on the use of material, such as
        those afforded by copyright. This element is modelled on an element in
        Encoded Archival Description (EAD).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.accessdesc">
          <xs:attributeGroup ref="mei:attlist.accessdesc"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.accessdesc">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.acqsource" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="acqsource">
    <xs:annotation>
      <xs:documentation>acquisition source ― Post-publication
        source, such as a vendor or distributor, from which access to a
        bibliographic item may be obtained, including electronic access. This
        element is modelled on an element in Encoded Archival Description
        (EAD).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.acqsource">
          <xs:attributeGroup ref="mei:attlist.acqsource"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.acqsource">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.altmeiid" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="altmeiid">
    <xs:annotation>
      <xs:documentation>alternative MEI identifier ― May contain a
        bibliographic identifier that does not fit within the meihead id
        attribute, for example because the id does not fit the definition of an
        XML id or because multiple identifiers are needed. One or the other of
        &lt;altmeiid&gt; or the id attribute on &lt;mei&gt; is
        required when applicable.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.altmeiid">
          <xs:attributeGroup ref="mei:attlist.altmeiid"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.altmeiid">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.typed"/>
  </xs:attributeGroup>
  <xs:complexType name="content.appinfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="mei:application"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="appinfo">
    <xs:annotation>
      <xs:documentation>application information ― Groups
        information about applications which have acted upon the MEI file. This
        is not to be confused with applications which were used to create the
        MEI file. The latter may be recorded in the projectdesc element. This
        element is modelled on an element in the Text Encoding Initiative
        (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.appinfo">
          <xs:attributeGroup ref="mei:attlist.appinfo"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.appinfo">
    <xs:attributeGroup ref="mei:att.common"/>
  </xs:attributeGroup>
  <xs:complexType name="content.application">
    <xs:sequence>
      <xs:group maxOccurs="unbounded" ref="mei:model.nameLike"/>
      <xs:choice>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.ptrLike"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.pLike"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="application">
    <xs:annotation>
      <xs:documentation>application ― Provides information about
        an application which has acted upon the current document. This element
        is modelled on an element in the Text Encoding Initiative
        (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.application">
          <xs:attributeGroup ref="mei:attlist.application"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.application">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.datable"/>
    <xs:attributeGroup ref="mei:att.typed"/>
    <xs:attribute name="version">
      <xs:annotation>
        <xs:documentation>supplies a version number for an
          application, independent of its identifier or display
          name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="content.availability">
    <xs:complexContent>
      <xs:extension base="mei:model.availabilityPart"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="availability">
    <xs:annotation>
      <xs:documentation>availability ― Groups elements that
        describe the availability of and access to a bibliographic item. When
        used within the filedesc element, availability indicates access to the
        MEI-encoded document itself. This element is modelled on an element in
        Encoded Archival Description (EAD).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.availability">
          <xs:attributeGroup ref="mei:attlist.availability"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.availability">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.common"/>
  </xs:attributeGroup>
  <xs:complexType name="content.change">
    <xs:sequence>
      <xs:element ref="mei:respstmt"/>
      <xs:element ref="mei:changedesc"/>
      <xs:group ref="mei:model.dateLike"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="change">
    <xs:annotation>
      <xs:documentation>change ― Individual change within the
        revision description. Additions, deletions, and significant recoding
        should be noted, but not correction of minor typographical errors. It is
        recommended that revisions should be entered in reverse chronological
        order, with the most recent &lt;change&gt; first. The resp
        attribute contains a pointer to an element containing info about the
        person/entity responsible for change. The edition element can be used to
        designate an MEI encoding that has been so substantively changed that it
        constitutes a new version that supersedes earlier versions. This element
        is modelled on an element in Encoded Archival Description
        (EAD).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.change">
          <xs:attributeGroup ref="mei:attlist.change"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.change">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.changedesc">
    <xs:group maxOccurs="unbounded" ref="mei:model.pLike"/>
  </xs:complexType>
  <xs:element name="changedesc">
    <xs:annotation>
      <xs:documentation>change description ― Description of a
        revision of the MEI file.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.changedesc">
          <xs:attributeGroup ref="mei:attlist.changedesc"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.changedesc">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:element name="classcode">
    <xs:annotation>
      <xs:documentation>classification code ― Library of Congress
        subject or call number, or a thesaurus or ontology citation, for
        example. The source of controlled-vocabulary terms used in the
        &lt;keywords&gt; element.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:attlist.classcode"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.classcode">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.classification">
    <xs:choice maxOccurs="unbounded">
      <xs:element ref="mei:classcode"/>
      <xs:element ref="mei:keywords"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="classification">
    <xs:annotation>
      <xs:documentation>classification ― Groups information which
        describes the nature or topic of a musical work. Although use of names
        and terms from locally controlled vocabularies is possible, terms used
        here should come from standard national or international vocabularies
        whenever they are available in order to enable searches in systems that
        include multiple MEI documents, or MEI documents and bibliographic
        records from many institutions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.classification">
          <xs:attributeGroup ref="mei:attlist.classification"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.classification">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.condition" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="condition">
    <xs:annotation>
      <xs:documentation>condition ― The physical condition of an
        item, particularly any variances between the physical makeup of the item
        and that of other copies of the same item (e.g., missing pages, plates,
        etc.). Condition may reflect other aspects of the physical condition of
        the item as well (e.g., brittleness, faded images, etc.). This element
        is modelled on an element in Encoded Archival Description
        (EAD).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.condition">
          <xs:attributeGroup ref="mei:attlist.condition"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.condition">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.correction">
    <xs:group maxOccurs="unbounded" ref="mei:model.pLike"/>
  </xs:complexType>
  <xs:element name="correction">
    <xs:annotation>
      <xs:documentation>correction ― States how and under what
        circumstances corrections have been made in the text. This element is
        modelled on an element in the Text Encoding Initiative
        (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.correction">
          <xs:attributeGroup ref="mei:attlist.correction"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.correction">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
    <xs:attributeGroup ref="mei:att.regularmethod"/>
    <xs:attribute name="corrlevel">
      <xs:annotation>
        <xs:documentation>indicates the degree of correction
          applied to the text.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="high"/>
          <xs:enumeration value="medium"/>
          <xs:enumeration value="low"/>
          <xs:enumeration value="unknown"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="content.creation">
    <xs:group maxOccurs="unbounded" ref="mei:model.textcomponentLike"/>
  </xs:complexType>
  <xs:element name="creation">
    <xs:annotation>
      <xs:documentation>creation ― Non-bibliographic creation
        details for the work being encoded, in narrative form. Contains phrases
        describing the origin of the text, e.g. the date, place, and
        circumstances of its composition. This element is modelled on an element
        in the Text Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.creation">
          <xs:attributeGroup ref="mei:attlist.creation"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.creation">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.dimensions" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="dimensions">
    <xs:annotation>
      <xs:documentation>dimensions ― Information about the
        physical size of a bibliographic source; usually includes numerical
        data. There are no height and width sub-elements; however, num
        sub-elements may be used with appropriate n attribute values.
        Measurements may be expressed in any convenient unit. Do not confuse
        this element with the &lt;extent&gt; element, which is used to
        indicate the quantity of described materials. This element is modelled
        on an element in the Text Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.dimensions">
          <xs:attributeGroup ref="mei:attlist.dimensions"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.dimensions">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.measurement"/>
  </xs:attributeGroup>
  <xs:complexType name="content.editionstmt">
    <xs:sequence maxOccurs="unbounded">
      <xs:group ref="mei:model.editionLike"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="mei:respstmt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="editionstmt">
    <xs:annotation>
      <xs:documentation>edition statement ― Container for
        meta-data pertaining to a particular edition of the material being
        described. This element is modelled on an element in the Text Encoding
        Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.editionstmt">
          <xs:attributeGroup ref="mei:attlist.editionstmt"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.editionstmt">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.editorialdecl">
    <xs:choice>
      <xs:group maxOccurs="unbounded" ref="mei:model.pLike"/>
      <xs:sequence>
        <xs:group maxOccurs="unbounded" ref="mei:model.editorialdeclPart"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.pLike"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>
  <xs:element name="editorialdecl">
    <xs:annotation>
      <xs:documentation>editorial declaration ― Used to provide
        details of editorial principles and practices applied during the
        encoding of musical text. This element is modelled on an element in the
        Text Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.editorialdecl">
          <xs:attributeGroup ref="mei:attlist.editorialdecl"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.editorialdecl">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.encodingdesc">
    <xs:complexContent>
      <xs:extension base="mei:model.encodingPart"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="encodingdesc">
    <xs:annotation>
      <xs:documentation>encoding description ― Documents the
        relationship between an electronic file and the source or sources from
        which it was derived as well as applications used in the
        encoding/editing process. This element is modelled on an element in the
        Text Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.encodingdesc">
          <xs:attributeGroup ref="mei:attlist.encodingdesc"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.encodingdesc">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.common"/>
  </xs:attributeGroup>
  <xs:complexType name="content.exhibithist" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="exhibithist">
    <xs:annotation>
      <xs:documentation>exhibition history ― A record of public
        exhibitions, including dates, venues, etc. This element is modelled on
        an element in Encoded Archival Description (EAD).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.exhibithist">
          <xs:attributeGroup ref="mei:attlist.exhibithist"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.exhibithist">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.extent" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="extent">
    <xs:annotation>
      <xs:documentation>extent ― Used to express size in terms
        other than physical dimensions, such as number of pages, number of
        records in file, number of bytes, performance duration for music, audio
        recordings and visual projections, etc. Use the
        &lt;dimensions&gt; element when it is necessary to specify the
        physical size of materials being described, for example, height and
        width. This element is modelled on an element in the Text Encoding
        Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.extent">
          <xs:attributeGroup ref="mei:attlist.extent"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.extent">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.measurement"/>
  </xs:attributeGroup>
  <xs:complexType name="content.filedesc">
    <xs:sequence>
      <xs:element ref="mei:titlestmt"/>
      <xs:element minOccurs="0" ref="mei:editionstmt"/>
      <xs:element minOccurs="0" ref="mei:extent"/>
      <xs:element minOccurs="0" ref="mei:fingerprint"/>
      <xs:element ref="mei:pubstmt"/>
      <xs:element minOccurs="0" ref="mei:seriesstmt"/>
      <xs:element minOccurs="0" ref="mei:notesstmt"/>
      <xs:element minOccurs="0" ref="mei:sourcedesc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="filedesc">
    <xs:annotation>
      <xs:documentation>file description ― Contains a full
        bibliographic description of the MEI file. Extent in this context is
        file size. This element is modelled on an element in the Text Encoding
        Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.filedesc">
          <xs:attributeGroup ref="mei:attlist.filedesc"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.filedesc">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.common"/>
  </xs:attributeGroup>
  <xs:element name="fingerprint">
    <xs:annotation>
      <xs:documentation>fingerprint ― Traditionally, an
        identifier, constructed by combining groups of characters transcribed
        from specified pages of a printed item, which makes it possible to
        signal differences between copies of the item. For an electronic item,
        such as an MEI file, however, the fingerprint should be a
        checksum.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:attlist.fingerprint"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.fingerprint">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.hand" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="hand">
    <xs:annotation>
      <xs:documentation>hand ― Defines a distinct scribe or
        handwriting style. The initial attribute indicates whether this is the
        first or main scribe of the document. The medium attribute describes the
        writing medium, e.g., 'pencil', or the tint or type of ink, e.g.
        'brown'. The resp attribute contains an ID reference to an element
        containing the name of the editor or transcriber responsible for
        identifying the hand. The characteristics of the hand, particularly
        those related to the quality of the writing, such as 'shaky', 'thick',
        etc. may be described within the content of the hand element. This
        element is modelled on an element in the Text Encoding Initiative
        (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.hand">
          <xs:attributeGroup ref="mei:attlist.hand"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.hand">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
    <xs:attributeGroup ref="mei:att.medium"/>
    <xs:attributeGroup ref="mei:att.responsibility"/>
    <xs:attribute name="initial" type="mei:data.BOOLEAN">
      <xs:annotation>
        <xs:documentation>marks this hand as the initial one of
          the document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="content.handlist">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="mei:hand"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="handlist">
    <xs:annotation>
      <xs:documentation>hand list ― Container for one or more hand
        elements. This element is modelled on an element in the Text Encoding
        Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.handlist">
          <xs:attributeGroup ref="mei:attlist.handlist"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.handlist">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.inscription" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="mei:model.textphraseLike.limited"/>
      <xs:group ref="mei:model.editLike"/>
      <xs:group ref="mei:model.transcriptionLike"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="inscription">
    <xs:annotation>
      <xs:documentation>inscription ― An inscription added to an
        item, such as a bookplate, a note designating the item as a gift, and/or
        the author's signature.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.inscription">
          <xs:attributeGroup ref="mei:attlist.inscription"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.inscription">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.interpretation">
    <xs:group maxOccurs="unbounded" ref="mei:model.pLike"/>
  </xs:complexType>
  <xs:element name="interpretation">
    <xs:annotation>
      <xs:documentation>interpretation ― Describes the scope of
        any analytic or interpretive information added to the transcription of
        the music. This element is modelled on an element in the Text Encoding
        Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.interpretation">
          <xs:attributeGroup ref="mei:attlist.interpretation"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.interpretation">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.keywords">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="mei:term"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="keywords">
    <xs:annotation>
      <xs:documentation>keywords ― Collection of keywords or text
        phrases which describe the work. This element is modelled on an element
        in the Text Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.keywords">
          <xs:attributeGroup ref="mei:attlist.keywords"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.keywords">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.language" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="language">
    <xs:annotation>
      <xs:documentation>language ― Description of a language used
        in the document. A text element may be related to this element via its
        xml:lang attribute, which normally takes the form of a code, drawn from
        a coded list, such as ISO639-2b. The name of the authorizing list may be
        encoded in the authority attribute. This element is modelled on an
        element in the Text Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.language">
          <xs:attributeGroup ref="mei:attlist.language"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.language">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.authorized"/>
  </xs:attributeGroup>
  <xs:complexType name="content.langusage">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="mei:language"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="langusage">
    <xs:annotation>
      <xs:documentation>language usage ― Langusage groups elements
        describing the languages, sublanguages, dialects, etc., represented
        within the encoded work. This element is modelled on an element in the
        Text Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.langusage">
          <xs:attributeGroup ref="mei:attlist.langusage"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.langusage">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.normalization">
    <xs:group maxOccurs="unbounded" ref="mei:model.pLike"/>
  </xs:complexType>
  <xs:element name="normalization">
    <xs:annotation>
      <xs:documentation>normalization ― Indicates the extent of
        normalization or regularization of the original source carried out in
        converting it to electronic form. This element is modelled on an element
        in the Text Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.normalization">
          <xs:attributeGroup ref="mei:attlist.normalization"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.normalization">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
    <xs:attributeGroup ref="mei:att.regularmethod"/>
  </xs:attributeGroup>
  <xs:complexType name="content.notesstmt">
    <xs:group maxOccurs="unbounded" ref="mei:model.annotLike"/>
  </xs:complexType>
  <xs:element name="notesstmt">
    <xs:annotation>
      <xs:documentation>notes statement ― Groups bibliographic
        annotations, each of which provides descriptive information in addition
        to that recorded in other parts of the bibliographic description. These
        annotations are similar to "general notes" in traditional bibliographic
        descriptions. This element is modelled on an element in the Text
        Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.notesstmt">
          <xs:attributeGroup ref="mei:attlist.notesstmt"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.notesstmt">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.physdesc">
    <xs:group maxOccurs="unbounded" ref="mei:model.physdescPart"/>
  </xs:complexType>
  <xs:element name="physdesc">
    <xs:annotation>
      <xs:documentation>physical description ― Container for
        information about the location, appearance, construction, or handling of
        physical materials, such as their dimension, quantity, color, style, and
        technique of creation. Dedicatory text and title page features may also
        be encoded here when they are not transcribed as part of the front or
        back matter; i.e., when they are considered to be meta-data rather than
        a transcription. This element is modelled on an element in Encoded
        Archival Description (EAD).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.physdesc">
          <xs:attributeGroup ref="mei:attlist.physdesc"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.physdesc">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.physloc" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="physloc">
    <xs:annotation>
      <xs:documentation>physical location ― Location of the source
        within a repository, e.g., shelf mark or other locational information.
        This element is modelled on an element in Encoded Archival Description
        (EAD).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.physloc">
          <xs:attributeGroup ref="mei:attlist.physloc"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.physloc">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.physmedium" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="physmedium">
    <xs:annotation>
      <xs:documentation>physical medium ― Records the physical
        materials used in the source, such as ink and paper. All materials may
        be described in a single &lt;physmedium&gt; element or multiple
        elements may be used, one for each medium. This element is modelled on
        an element in Encoded Archival Description (EAD).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.physmedium">
          <xs:attributeGroup ref="mei:attlist.physmedium"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.physmedium">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.authorized"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.price" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="price">
    <xs:annotation>
      <xs:documentation>price ― The cost of access to a
        bibliographic item.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.price">
          <xs:attributeGroup ref="mei:attlist.price"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.price">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.measurement"/>
  </xs:attributeGroup>
  <xs:complexType name="content.profiledesc">
    <xs:complexContent>
      <xs:extension base="mei:model.profiledescPart"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="profiledesc">
    <xs:annotation>
      <xs:documentation>profile description ― A detailed
        description of the non-bibliographic aspects of the creation of a
        musical work, specifically the languages and sublanguages used, the
        situation in which it was produced, e.g. the participants, setting,
        reception history, etc. Do not confuse this with
        &lt;filedesc&gt;, which bundles bibliographic information about
        the creation of the MEI file. This element is modelled on an element in
        the Text Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.profiledesc">
          <xs:attributeGroup ref="mei:attlist.profiledesc"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.profiledesc">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.common"/>
  </xs:attributeGroup>
  <xs:complexType name="content.projectdesc">
    <xs:group maxOccurs="unbounded" ref="mei:model.pLike"/>
  </xs:complexType>
  <xs:element name="projectdesc">
    <xs:annotation>
      <xs:documentation>project description ― Project-level
        meta-data describing the aim or purpose for which the electronic file
        was encoded, funding agencies, etc. together with any other relevant
        information concerning the process by which it was assembled or
        collected. This element is modelled on an element in the Text Encoding
        Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.projectdesc">
          <xs:attributeGroup ref="mei:attlist.projectdesc"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.projectdesc">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.provenance" mixed="true">
    <xs:choice>
      <xs:element minOccurs="0" ref="mei:eventlist"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="provenance">
    <xs:annotation>
      <xs:documentation>provenance ― The record of ownership or
        custodianship of an item. This element is modelled on an element in the
        Encoded Archival Description (EAD) and Text Encoding Initiative
        (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.provenance">
          <xs:attributeGroup ref="mei:attlist.provenance"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.provenance">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.pubstmt">
    <xs:choice>
      <xs:element minOccurs="0" ref="mei:unpub"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.pubstmtPart"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="pubstmt">
    <xs:annotation>
      <xs:documentation>publication statement ― Container for
        information regarding the publication or distribution of a bibliographic
        item, including the publisher's name and address, the date of
        publication, and other relevant details. When an item is unpublished,
        use only the &lt;unpub&gt; sub-element. This element is modelled
        on an element in the Text Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.pubstmt">
          <xs:attributeGroup ref="mei:attlist.pubstmt"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.pubstmt">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:element name="resp">
    <xs:annotation>
      <xs:documentation>responsibility ― A phrase describing the
        nature of a person's intellectual responsibility. The name of the list
        from which a controlled value is taken may be recorded using the
        authority attribute. This element is modelled on an element in the Text
        Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:attlist.resp"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.resp">
    <xs:attributeGroup ref="mei:att.authorized"/>
  </xs:attributeGroup>
  <xs:complexType name="content.respstmt">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="mei:resp"/>
      <xs:group ref="mei:model.nameLike"/>
      <xs:group ref="mei:model.nameLike.agent"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="respstmt">
    <xs:annotation>
      <xs:documentation>responsibility statement ― Names one or
        more individuals, groups, or in rare cases, mechanical processes,
        responsible for creation or realization of the intellectual or artistic
        content. This element is modelled on an element in the Text Encoding
        Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.respstmt">
          <xs:attributeGroup ref="mei:attlist.respstmt"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.respstmt">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.common"/>
  </xs:attributeGroup>
  <xs:complexType name="content.revisiondesc">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="mei:change"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="revisiondesc">
    <xs:annotation>
      <xs:documentation>revision description ― Container for
        information about alterations that have been made to an MEI file. It is
        recommended that changes be recorded in reverse chronological order,
        with the most recent alteration first. This element is modelled on an
        element in the Text Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.revisiondesc">
          <xs:attributeGroup ref="mei:attlist.revisiondesc"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.revisiondesc">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.samplingdecl">
    <xs:group maxOccurs="unbounded" ref="mei:model.pLike"/>
  </xs:complexType>
  <xs:element name="samplingdecl">
    <xs:annotation>
      <xs:documentation>sampling declaration ― Contains a prose
        description of the rationale and methods used in sampling texts in the
        creation of a corpus or collection. This element is modelled on an
        element in the Text Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.samplingdecl">
          <xs:attributeGroup ref="mei:attlist.samplingdecl"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.samplingdecl">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.segmentation">
    <xs:group maxOccurs="unbounded" ref="mei:model.pLike"/>
  </xs:complexType>
  <xs:element name="segmentation">
    <xs:annotation>
      <xs:documentation>segmentation ― Describes the principles
        according to which the musical text has been segmented, for example into
        movements, sections, etc. This element is modelled on an element in the
        Text Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.segmentation">
          <xs:attributeGroup ref="mei:attlist.segmentation"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.segmentation">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.seriesstmt">
    <xs:sequence>
      <xs:group maxOccurs="unbounded" ref="mei:model.titleLike"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="mei:respstmt"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.identifierLike"/>
      <xs:choice>
        <xs:group ref="mei:model.listLike"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mei:seriesstmt"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="seriesstmt">
    <xs:annotation>
      <xs:documentation>series statement ― Groups information
        about the series, if any, to which a publication belongs. In this
        context, the title element records the series title, the respStmt
        element records the person or group responsible for the series, and the
        identifier element contains a series identifier. The list element should
        be used when it is necessary to enumerate the contents of the series.
        The seriesstmt is provided within seriesstmt for the description of a
        sub-series. This element is modelled on an element in the Text Encoding
        Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.seriesstmt">
          <xs:attributeGroup ref="mei:attlist.seriesstmt"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.seriesstmt">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.source">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.identifierLike"/>
      <xs:element minOccurs="0" ref="mei:titlestmt"/>
      <xs:element minOccurs="0" ref="mei:editionstmt"/>
      <xs:element ref="mei:pubstmt"/>
      <xs:element minOccurs="0" ref="mei:physdesc"/>
      <xs:element minOccurs="0" ref="mei:seriesstmt"/>
      <xs:element minOccurs="0" ref="mei:notesstmt"/>
      <xs:element minOccurs="0" ref="mei:langusage"/>
      <xs:element minOccurs="0" ref="mei:classification"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="source">
    <xs:annotation>
      <xs:documentation>source ― A bibliographic description of a
        source for the electronic file. Multiple physdesc sub-elements may be
        used to describe the physically separate parts of a single source. The
        data attribute may be used to reference one or more features that occur
        in this particular source. This element is modelled on the sourcedesc
        element in the Text Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.source">
          <xs:attributeGroup ref="mei:attlist.source"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.source">
    <xs:attributeGroup ref="mei:att.datapointing"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.sourcedesc">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="mei:source"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sourcedesc">
    <xs:annotation>
      <xs:documentation>source description ― A container for the
        descriptions of the source(s) used in the creation of the electronic
        file. This element is recommended where the MEI file is a transcription
        of existing music, but is not required when the data is originally
        created in MEI form.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.sourcedesc">
          <xs:attributeGroup ref="mei:attlist.sourcedesc"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.sourcedesc">
    <xs:attributeGroup ref="mei:att.common"/>
  </xs:attributeGroup>
  <xs:complexType name="content.stdvals">
    <xs:group maxOccurs="unbounded" ref="mei:model.pLike"/>
  </xs:complexType>
  <xs:element name="stdvals">
    <xs:annotation>
      <xs:documentation>standard values ― Specifies the format
        used when standardized date or number values are supplied. This element
        is modelled on an element in the Text Encoding Initiative
        (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.stdvals">
          <xs:attributeGroup ref="mei:attlist.stdvals"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.stdvals">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.sysreq" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="sysreq">
    <xs:annotation>
      <xs:documentation>system requirements ― System requirements
        for using the electronic item.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.sysreq">
          <xs:attributeGroup ref="mei:attlist.sysreq"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.sysreq">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.term" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="mei:term"/>
      <xs:group ref="mei:model.textphraseLike.limited"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="term">
    <xs:annotation>
      <xs:documentation>term ― Single keyword or phrase which
        describes the work. The classcode attribute may be used to link the term
        to a terminological source given in a classcode element. The term
        element may include other term elements in order to allow the creation
        of coordinated terms; i.e., terms created from a combination of other,
        independent terms. This element is modelled on an element in the Text
        Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.term">
          <xs:attributeGroup ref="mei:attlist.term"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.term">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attribute name="classcode" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation>contains a reference to the controlled
          vocabulary from which the term is drawn. The value must match the
          value of an ID attribute on a classcode element given elsewhere in the
          document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="content.titlestmt">
    <xs:sequence>
      <xs:group maxOccurs="unbounded" ref="mei:model.titleLike"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="mei:respstmt"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="titlestmt">
    <xs:annotation>
      <xs:documentation>title statement ― Container for title and
        responsibility meta-data. This element is modelled on an element in the
        Text Encoding Initiative (TEI).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.titlestmt">
          <xs:attributeGroup ref="mei:attlist.titlestmt"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.titlestmt">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.common"/>
  </xs:attributeGroup>
  <xs:complexType name="content.treatmenthist" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="treatmenthist">
    <xs:annotation>
      <xs:documentation>treatment history ― A record of the
        treatment the item has undergone (e.g., deacidification, restoration,
        etc.) Treatment history may also comprise details of the treatment
        process (e.g., chemical solutions used, techniques applied, etc.), the
        date the treatment was applied, etc. This element is modelled on an
        element in Encoded Archival Description (EAD).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.treatmenthist">
          <xs:attributeGroup ref="mei:attlist.treatmenthist"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.treatmenthist">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.treatmentsched" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="treatmentsched">
    <xs:annotation>
      <xs:documentation>treatment scheduled ― Scheduled treatment,
        e.g. deacidification, restoration, etc., for an item. This element is
        modelled on an element in Encoded Archival Description
        (EAD).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.treatmentsched">
          <xs:attributeGroup ref="mei:attlist.treatmentsched"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.treatmentsched">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:element name="unpub">
    <xs:annotation>
      <xs:documentation>unpublished ― Used to explicitly indicate
        that a bibliographic source is unpublished. A short phrase indicating
        the nature of or the reason for the unpublished status may be given as
        the element's content.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:attlist.unpub"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.unpub">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.userestrict" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.textphraseLike.limited"/>
  </xs:complexType>
  <xs:element name="userestrict">
    <xs:annotation>
      <xs:documentation>usage restrictions ― Container for
        information about the conditions that affect use of a bibliographic item
        after access has been granted. It may indicate limitations imposed by an
        owner, repository, or legal statute (for example, copyright law)
        regarding the reproduction, publication, or quotation of the item. It
        may also indicate the absence of restrictions, such as when rights have
        been ceded to the public domain. Do not confuse this element with the
        &lt;accessdesc&gt; element, which holds information about
        conditions affecting the availability of the material. This element is
        modelled on an element in Encoded Archival Description
        (EAD).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.userestrict">
          <xs:attributeGroup ref="mei:attlist.userestrict"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.userestrict">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.bibl"/>
  </xs:attributeGroup>
  <xs:element name="eventlist">
    <xs:annotation>
      <xs:documentation>event list ― Contains historical
        information given as a sequence of significant past events.
        &lt;eventlist&gt; contains &lt;event&gt; elements that
        contain a brief description of the associated event, including dates and
        locations where the event took place. An &lt;eventlist&gt;
        describes events associated with a work when it appears in the
        &lt;profiledesc&gt; element or events associated with the
        custodial history of a given copy of a source for the encoding when it
        appears within the &lt;source&gt; element. The type attribute
        may be used to distinguish between event lists with different functions,
        such as a list of events in the compositional process and a list of
        performance dates.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.eventlist">
          <xs:attributeGroup ref="mei:attlist.eventlist"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.eventlist">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.typed"/>
  </xs:attributeGroup>
  <xs:complexType name="content.eventlist">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="mei:event"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="event">
    <xs:annotation>
      <xs:documentation>event ― contains a description of an
        event, including the dates and locations of its occurrence and prominent
        participants. When a single date can be associated with the event, the
        attributes in the att.datable class may provide a more
        machine-processable alternative than date elements within the content of
        &lt;event&gt;. &lt;table&gt; and &lt;list&gt;
        elements are allowed within &lt;event&gt; in order to
        accommodate structured content.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.event">
          <xs:attributeGroup ref="mei:attlist.event"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.event">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.calendared"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.datable"/>
    <xs:attributeGroup ref="mei:att.edit"/>
    <xs:attributeGroup ref="mei:att.lang"/>
  </xs:attributeGroup>
  <xs:complexType name="content.event" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="mei:model.textphraseLike.limited"/>
      <xs:group ref="mei:model.tableLike"/>
      <xs:group ref="mei:model.listLike"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>
