schemaDevelopment/NVDL/mei.nvdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This NVDL schema is for the validation of mei19-all.rng
-->

<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
  
  <!-- RelaxNG -->
  <namespace ns="http://relaxng.org/ns/structure/1.0">
    <validate schema="http://relaxng.org/relaxng.rng"/>
  </namespace>
  
  <!-- RelaxNG Annotations -->
  <namespace ns="http://relaxng.org/ns/compatibility/annotations/1.0">
    <allow/>
  </namespace>
  
  <!-- ISO Schematron
    Pointing to trang-generated relaxng xml version of iso-schematron
    rnc version at: http://www.schematron.com/iso/iso-schematron.rnc
    does not seem to work.  Use local rng version instead.
  -->
  <namespace ns="http://purl.oclc.org/dsdl/schematron">
    <validate schema="iso-schematron.rng"/>
  </namespace>
  
  <!-- XHTML
    Pointing to Relax version at
    http://www.thaiopensource.com/relaxng/xhtml/xhtml-strict.rng
    doesn't work!
  -->
  <namespace ns="http://www.w3.org/1999/xhtml">
    <validate schema="http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd"/>
  </namespace>
  
  <!-- TEI
    Only the elements allowed within the RNG's <start> element may be used directly
    within the MEI RNG.
  -->
  <namespace ns="http://www.tei-c.org/ns/1.0">
    <validate schema="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng"/>
  </namespace>

</rules>
