schemata/xsd/mensural_Module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ************************************************************** -->
<!--
  NAME:     Music Encoding Initiative (MEI) schema component:
            mensural_Module.rng
  
  NOTICE:   Copyright (c) 2010 by the Music Encoding Initiative (MEI)
            Council.
  
            Licensed under the Educational Community License, Version
            2.0 (the "License"); you may not use this file except in
            compliance with the License. You may obtain a copy of the
            License at http://www.osedu.org/licenses/ECL-2.0.
  
            Unless required by applicable law or agreed to in writing,
            software distributed under the License is distributed on
            an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
            KIND, either express or implied. See the License for the
            specific language governing permissions and limitations
            under the License.
  
            This is a derivative work based on earlier versions of the
            schema copyright (c) 2001-2006 Perry Roland and the Rector
            and Visitors of the University of Virginia; licensed under
            the Educational Community License version 1.0.
  
  CONTACT:  contact@music-encoding.org 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.music-encoding.org/ns/mei" xmlns:mei="http://www.music-encoding.org/ns/mei" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import schemaLocation="analysis_Module.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- Mensural module -->
  <!-- Declare data types -->
  <!-- Declare module attr classes -->
  <xs:attributeGroup name="att.ligature.anl">
    <xs:annotation>
      <xs:documentation>Analytical domain
      attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="att.common.anl"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.ligature.log">
    <xs:annotation>
      <xs:documentation>Logical domain attributes</xs:documentation>
    </xs:annotation>
    <xs:attribute name="form" type="mei:data.LIGATUREFORM">
      <xs:annotation>
        <xs:documentation>provides an indication of the function
          of the ligature.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.mensur.anl">
    <xs:annotation>
      <xs:documentation>Analytical domain
      attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="att.common.anl"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.mensur.log">
    <xs:annotation>
      <xs:documentation>Logical domain attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="mei:att.duration.ratio"/>
    <xs:attribute name="modusmaior" type="mei:data.MODUSMAIOR">
      <xs:annotation>
        <xs:documentation>describes the maxima-long
          relationship.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="modusminor" type="mei:data.MODUSMINOR">
      <xs:annotation>
        <xs:documentation>describes the long-breve
          relationship.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="prolatio" type="mei:data.PROLATIO">
      <xs:annotation>
        <xs:documentation>describes the semibreve-minim
          relationship.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="tempus" type="mei:data.TEMPUS">
      <xs:annotation>
        <xs:documentation>describes the breve-semibreve
          relationship.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.mensur.vis">
    <xs:annotation>
      <xs:documentation>Visual domain attributes. These attributes
      describe the physical appearance of the mensuration sign/time signature of
      mensural notation.</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="mei:att.color"/>
    <xs:attributeGroup ref="mei:att.relativesize"/>
    <xs:attributeGroup ref="mei:att.slashcount"/>
    <xs:attributeGroup ref="mei:att.staffloc"/>
    <xs:attribute name="dot" type="mei:data.BOOLEAN">
      <xs:annotation>
        <xs:documentation>specifies whether a dot is to be added
          to the base symbol.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="form">
      <xs:annotation>
        <xs:documentation>indicates whether the base symbol is
          written vertically or horizontally.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="vertical"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="orient" type="mei:data.ORIENTATION">
      <xs:annotation>
        <xs:documentation>describes the rotation or reflection of
          the base symbol.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sign" type="mei:data.MENSURATIONSIGN">
      <xs:annotation>
        <xs:documentation>the base symbol in the mensuration
          sign/time signature of mensural notation.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.mensuration.log">
    <xs:annotation>
      <xs:documentation>Used by staffdef and scoredef to provide
      default values for attributes in the logical domain related to
      mensuration</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="mei:att.mensur.log"/>
    <xs:attribute name="mensur.dot" type="mei:data.BOOLEAN">
      <xs:annotation>
        <xs:documentation>determines if a dot is to be added to
          the base symbol.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mensur.orient" type="mei:data.ORIENTATION">
      <xs:annotation>
        <xs:documentation>describes the rotation or reflection of
          the base symbol.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mensur.sign" type="mei:data.MENSURATIONSIGN">
      <xs:annotation>
        <xs:documentation>the base symbol in the mensuration
          sign/time signature of mensural notation.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mensur.slash" type="xs:positiveInteger">
      <xs:annotation>
        <xs:documentation>indicates the number lines added to the
          mensuration sign. For example, one slash is added for what we now call
          'alla breve'.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.mensuration.vis">
    <xs:annotation>
      <xs:documentation>Used by staffdef and scoredef to provide
      default values for attributes in the visual domain related to
      mensuration</xs:documentation>
    </xs:annotation>
    <xs:attribute name="mensur.form">
      <xs:annotation>
        <xs:documentation>indicates whether the base symbol is
          written vertically or horizontally.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="vertical"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="mensur.loc" type="xs:positiveInteger">
      <xs:annotation>
        <xs:documentation>holds the staff location of the
          mensuration sign.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mensur.size" type="mei:data.SIZE">
      <xs:annotation>
        <xs:documentation>describes the relative size of the
          mensuration sign.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.proport.anl">
    <xs:annotation>
      <xs:documentation>Analytical domain
      attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="att.common.anl"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.proport.log">
    <xs:annotation>
      <xs:documentation>Logical domain attributes. These attributes
      describe augmentation or diminution of the normal value of the notes in
      mensural notation as a ratio.</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="mei:att.duration.ratio"/>
  </xs:attributeGroup>
  <!-- Declare module model classes -->
  <!-- Declare module elements -->
  <xs:element name="mensur">
    <xs:annotation>
      <xs:documentation>mensuration ― The &lt;mensur&gt;
        element is provided for the encoding of mensural notation. It collects
        information about the metrical relationship between a note value and the
        next smaller value; that is, either triple or duple. The slash attribute
        indicates the number lines added to the mensuration sign. For example,
        one slash is added for what we now call 'alla breve'.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.mensur"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.mensur">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.facsimile"/>
    <xs:attributeGroup ref="mei:att.mensur.log"/>
    <xs:attributeGroup ref="mei:att.mensur.vis"/>
    <xs:attributeGroup ref="mei:att.mensur.anl"/>
  </xs:attributeGroup>
  <xs:element name="proport">
    <xs:annotation>
      <xs:documentation>proportion ― The
        &lt;proportion&gt; element is provided for the encoding of
        mensural notation. It allows the description of note durations as
        arithmetic ratios. While mensuration refers to the normal relationships
        between note durations, proportion affects the relations of the note
        durations to the tactus.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.proport"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.proport">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.facsimile"/>
    <xs:attributeGroup ref="mei:att.proport.log"/>
    <xs:attributeGroup ref="mei:att.proport.anl"/>
  </xs:attributeGroup>
  <xs:complexType name="content.ligature">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mei:model.layerPart"/>
  </xs:complexType>
  <xs:element name="ligature">
    <xs:annotation>
      <xs:documentation>ligature ― A mensural notation symbol that
        combines two or more notes into a single sign. The rhythmic meaning of
        the components of a ligature is typically contextual, not absolute;
        therefore, an interpretative duration may be encoded on each of the
        components using either the dur.ges attribute or the num and numbase
        attribute pair. The &lt;ligature&gt; element should *not* be
        used for brackets in modern notation that indicate notes that were part
        of a ligature in the original source.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.ligature">
          <xs:attributeGroup ref="mei:attlist.ligature"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.ligature">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.facsimile"/>
    <xs:attributeGroup ref="mei:att.ligature.log"/>
    <xs:attributeGroup ref="mei:att.ligature.anl"/>
  </xs:attributeGroup>
</xs:schema>
