schemata/xsd/midi_Module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ************************************************************** -->
<!--
  NAME:     Music Encoding Initiative (MEI) schema component:
            midi_Module.rng
  
  NOTICE:   Copyright (c) 2010 by the Music Encoding Initiative (MEI)
            Council.
  
            Licensed under the Educational Community License, Version
            2.0 (the "License"); you may not use this file except in
            compliance with the License. You may obtain a copy of the
            License at http://www.osedu.org/licenses/ECL-2.0.
  
            Unless required by applicable law or agreed to in writing,
            software distributed under the License is distributed on
            an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
            KIND, either express or implied. See the License for the
            specific language governing permissions and limitations
            under the License.
  
            This is a derivative work based on earlier versions of the
            schema copyright (c) 2001-2006 Perry Roland and the Rector
            and Visitors of the University of Virginia; licensed under
            the Educational Community License version 1.0.
  
  CONTACT:  contact@music-encoding.org 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.music-encoding.org/ns/mei" xmlns:mei="http://www.music-encoding.org/ns/mei" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import schemaLocation="analysis_Module.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- MIDI module -->
  <!-- Declare module attr classes -->
  <xs:attributeGroup name="att.channelized">
    <xs:annotation>
      <xs:documentation>Attributes that record MIDI channel
      information</xs:documentation>
    </xs:annotation>
    <xs:attribute name="midi.channel" type="mei:data.MIDICHANNEL">
      <xs:annotation>
        <xs:documentation>records a MIDI channel
          value.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="midi.duty" type="mei:data.PERCENT">
      <xs:annotation>
        <xs:documentation>specifies the 'on' part of the duty
          cycle as a percentage of a note's duration.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="midi.port" type="mei:data.MIDIVALUE">
      <xs:annotation>
        <xs:documentation>sets the default MIDI port
          value.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="midi.track" type="xs:positiveInteger">
      <xs:annotation>
        <xs:documentation>sets the default MIDI
          track.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.midiinstrument">
    <xs:annotation>
      <xs:documentation>Attributes that record MIDI instrument
      information</xs:documentation>
    </xs:annotation>
    <xs:attribute name="midi.instrnum" type="mei:data.MIDIVALUE">
      <xs:annotation>
        <xs:documentation>sets the MIDI instrument
          number.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="midi.instrname" type="mei:data.MIDINAMES">
      <xs:annotation>
        <xs:documentation>provides a label for the MIDI
          instrument.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.midinumber">
    <xs:annotation>
      <xs:documentation>Attributes that record MIDI
      numbers</xs:documentation>
    </xs:annotation>
    <xs:attribute name="num" use="required" type="mei:data.MIDIVALUE">
      <xs:annotation>
        <xs:documentation>records a MIDI number.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.miditempo">
    <xs:annotation>
      <xs:documentation>Attributes that record MIDI tempo
      information</xs:documentation>
    </xs:annotation>
    <xs:attribute name="midi.tempo" type="mei:data.MIDITEMPO">
      <xs:annotation>
        <xs:documentation>contains a MIDI value, that is, the
          number of quarter notes per minute in the range from 10 to
          1000.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.midivalue">
    <xs:annotation>
      <xs:documentation>Attributes that record MIDI
      values</xs:documentation>
    </xs:annotation>
    <xs:attribute name="val" type="mei:data.MIDIVALUE">
      <xs:annotation>
        <xs:documentation>captures a MIDI value.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.midi.event">
    <xs:annotation>
      <xs:documentation>Attributes common to MIDI
      events</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="mei:att.layerident"/>
    <xs:attributeGroup ref="mei:att.staffident"/>
    <xs:attributeGroup ref="mei:att.timestamp.musical"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.midi.anl">
    <xs:annotation>
      <xs:documentation>Analytical domain
      attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="att.common.anl"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.midi.log">
    <xs:annotation>
      <xs:documentation>Logical domain attributes</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="mei:att.layerident"/>
    <xs:attributeGroup ref="mei:att.staffident"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.timebase">
    <xs:annotation>
      <xs:documentation>Attributes that record time-base
      information</xs:documentation>
    </xs:annotation>
    <xs:attribute name="ppq" type="xs:positiveInteger">
      <xs:annotation>
        <xs:documentation>indicates the number of pulses
          (sometimes referred to as ticks or divisions) per quarter note. Unlike
          MIDI, MEI permits different values for a score and individual
          staves.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!-- Declare module model classes -->
  <xs:group name="model.midiLike">
    <xs:annotation>
      <xs:documentation>groups elements which group MIDI-like
      elements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="mei:midi"/>
    </xs:sequence>
  </xs:group>
  <!-- Declare module elements -->
  <xs:element name="cc">
    <xs:annotation>
      <xs:documentation>control change ― MIDI parameter/control
        change. The num attribute specifies parameter number, while val contains
        the parameter value. Each must fall in the range
        0-127.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.cc"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.cc">
    <xs:attributeGroup ref="att.common.anl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.midi.event"/>
    <xs:attributeGroup ref="mei:att.midinumber"/>
    <xs:attributeGroup ref="mei:att.midivalue"/>
  </xs:attributeGroup>
  <xs:element name="chan">
    <xs:annotation>
      <xs:documentation>channel ― MIDI channel
        assignment.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.chan"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.chan">
    <xs:attributeGroup ref="att.common.anl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.midi.event"/>
    <xs:attribute name="num" use="required" type="mei:data.MIDICHANNEL">
      <xs:annotation>
        <xs:documentation>records a MIDI channel value. The value
        must be in the range 1-16.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="chanpr">
    <xs:annotation>
      <xs:documentation>channel pressure ― MIDI channel
        pressure/after touch. The value of the num attribute must be in the
        range 0-127.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.chanpr"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.chanpr">
    <xs:attributeGroup ref="att.common.anl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.midi.event"/>
    <xs:attributeGroup ref="mei:att.midinumber"/>
  </xs:attributeGroup>
  <xs:element name="cue">
    <xs:annotation>
      <xs:documentation>cue ― MIDI cue point.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:attlist.cue"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.cue">
    <xs:attributeGroup ref="att.common.anl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.midi.event"/>
  </xs:attributeGroup>
  <xs:element name="hex">
    <xs:annotation>
      <xs:documentation>hex ― Arbitrary MIDI data in hexadecimal
        form. The element's content must be wrapped in a CDATA section to avoid
        parsing errors.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:attlist.hex"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.hex">
    <xs:attributeGroup ref="att.common.anl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.midi.event"/>
  </xs:attributeGroup>
  <xs:element name="marker">
    <xs:annotation>
      <xs:documentation>marker ― MIDI marker
        meta-event.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:attlist.marker"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.marker">
    <xs:attributeGroup ref="att.common.anl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.midi.event"/>
  </xs:attributeGroup>
  <xs:element name="metatext">
    <xs:annotation>
      <xs:documentation>meta text ― MIDI text
        meta-event.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:attlist.metatext"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.metatext">
    <xs:attributeGroup ref="att.common.anl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.midi.event"/>
  </xs:attributeGroup>
  <xs:complexType name="content.midi">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="mei:cc"/>
      <xs:element ref="mei:chan"/>
      <xs:element ref="mei:chanpr"/>
      <xs:element ref="mei:cue"/>
      <xs:element ref="mei:hex"/>
      <xs:element ref="mei:marker"/>
      <xs:element ref="mei:metatext"/>
      <xs:element ref="mei:noteoff"/>
      <xs:element ref="mei:noteon"/>
      <xs:element ref="mei:port"/>
      <xs:element ref="mei:prog"/>
      <xs:element ref="mei:seqnum"/>
      <xs:element ref="mei:trkname"/>
      <xs:element ref="mei:vel"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="midi">
    <xs:annotation>
      <xs:documentation>midi ― Container for elements that contain
        information useful when generating MIDI output. The n attribute can be
        used to differentiate between multiple MIDI data streams, e.g.
        quantized/unquantized, straight/swing, ornamented/as notated,
        etc.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.midi">
          <xs:attributeGroup ref="mei:attlist.midi"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.midi">
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.midi.log"/>
    <xs:attributeGroup ref="mei:att.midi.anl"/>
  </xs:attributeGroup>
  <xs:element name="noteoff">
    <xs:annotation>
      <xs:documentation>note-off ― MIDI note-off
        event.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.noteoff"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.noteoff">
    <xs:attributeGroup ref="att.common.anl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.midi.event"/>
    <xs:attributeGroup ref="mei:att.midinumber"/>
  </xs:attributeGroup>
  <xs:element name="noteon">
    <xs:annotation>
      <xs:documentation>note-on ― MIDI note-on
        event.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.noteon"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.noteon">
    <xs:attributeGroup ref="att.common.anl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.midi.event"/>
    <xs:attributeGroup ref="mei:att.midinumber"/>
  </xs:attributeGroup>
  <xs:element name="port">
    <xs:annotation>
      <xs:documentation>port ― MIDI port. The num attribute must
        be in the range 0-127.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.port"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.port">
    <xs:attributeGroup ref="att.common.anl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.midi.event"/>
    <xs:attributeGroup ref="mei:att.midinumber"/>
  </xs:attributeGroup>
  <xs:element name="prog">
    <xs:annotation>
      <xs:documentation>program ― MIDI program change. The num
        attribute must be in the range 0-127.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.prog"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.prog">
    <xs:attributeGroup ref="att.common.anl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.midi.event"/>
    <xs:attributeGroup ref="mei:att.midinumber"/>
  </xs:attributeGroup>
  <xs:element name="seqnum">
    <xs:annotation>
      <xs:documentation>sequence number ― MIDI sequence number.
        The num attribute must be in the range 0-65535.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.seqnum"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.seqnum">
    <xs:attributeGroup ref="att.common.anl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.midi.event"/>
    <xs:attribute name="num" use="required">
      <xs:annotation>
        <xs:documentation>holds the MIDI sequence number. The value
        must be in the range 0-65535.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:nonNegativeInteger">
          <xs:maxInclusive value="65535"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="trkname">
    <xs:annotation>
      <xs:documentation>track name ― MIDI track/sequence
        name.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mei:attlist.trkname"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.trkname">
    <xs:attributeGroup ref="att.common.anl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.midi.event"/>
  </xs:attributeGroup>
  <xs:element name="vel">
    <xs:annotation>
      <xs:documentation>velocity ― MIDI Note-on/off velocity. The
        num attribute must be in the range 0-127.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="mei:attlist.vel"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.vel">
    <xs:attributeGroup ref="att.common.anl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.midi.event"/>
    <xs:attributeGroup ref="mei:att.midinumber"/>
    <xs:attribute name="form" use="required">
      <xs:annotation>
        <xs:documentation>indicates whether this is note-on or
        note-off velocity data.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="on"/>
          <xs:enumeration value="off"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>
