schemata/xsd/namesdates_Module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ************************************************************** -->
<!--
  NAME:     Music Encoding Initiative (MEI) schema component:
            namesdates_Module.rng
  
  NOTICE:   Copyright (c) 2010 by the Music Encoding Initiative (MEI)
            Council.
  
            Licensed under the Educational Community License, Version
            2.0 (the "License"); you may not use this file except in
            compliance with the License. You may obtain a copy of the
            License at http://www.osedu.org/licenses/ECL-2.0.
  
            Unless required by applicable law or agreed to in writing,
            software distributed under the License is distributed on
            an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
            KIND, either express or implied. See the License for the
            specific language governing permissions and limitations
            under the License.
  
            This is a derivative work based on earlier versions of the
            schema copyright (c) 2001-2006 Perry Roland and the Rector
            and Visitors of the University of Virginia; licensed under
            the Educational Community License version 1.0.
  
  CONTACT:  contact@music-encoding.org 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.music-encoding.org/ns/mei" xmlns:mei="http://www.music-encoding.org/ns/mei" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import schemaLocation="analysis_Module.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- NamesDates module -->
  <!-- Declare module attr classes -->
  <!-- Declare module model classes -->
  <xs:group name="model.nameLike.agent">
    <xs:annotation>
      <xs:documentation>groups elements which contain names of
      individuals or corporate bodies.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element ref="mei:corpname"/>
      <xs:element ref="mei:persname"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.nameLike.geogname">
    <xs:annotation>
      <xs:documentation>groups geographic name
      elements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="mei:geogname"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.place">
    <xs:annotation>
      <xs:documentation>groups place name and repository
      elements.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:group ref="mei:model.nameLike.geogname"/>
      <xs:group ref="mei:model.repositoryLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.nameLike.label">
    <xs:annotation>
      <xs:documentation>groups elements that serve as stylistic
      labels.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element ref="mei:periodname"/>
      <xs:element ref="mei:stylename"/>
    </xs:choice>
  </xs:group>
  <!-- Declare module elements -->
  <xs:complexType name="content.corpname" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="mei:model.textphraseLike"/>
      <xs:group ref="mei:model.editLike"/>
      <xs:group ref="mei:model.transcriptionLike"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="corpname">
    <xs:annotation>
      <xs:documentation>corporate name ― Identifies an
        organization or group of people that acts as a single entity. Examples
        include names of associations, institutions, business firms, non-profit
        enterprises, governments, government agencies, projects, programs,
        religious bodies, churches, conferences, athletic contests, exhibitions,
        expeditions, fairs, and ships. Secondary name parts may be encoded in
        &lt;corpname&gt; sub-elements. The name of the list from which a
        controlled value is taken may be recorded using the authority attribute.
        This element is modelled on an element in Encoded Archival Description
        (EAD).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.corpname">
          <xs:attributeGroup ref="mei:attlist.corpname"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.corpname">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.datable"/>
    <xs:attributeGroup ref="mei:att.edit"/>
    <xs:attributeGroup ref="mei:att.facsimile"/>
    <xs:attributeGroup ref="mei:att.lang"/>
    <xs:attributeGroup ref="mei:att.name"/>
    <xs:attributeGroup ref="mei:att.typed"/>
  </xs:attributeGroup>
  <xs:complexType name="content.geogname" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="mei:model.textphraseLike"/>
      <xs:group ref="mei:model.editLike"/>
      <xs:group ref="mei:model.transcriptionLike"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="geogname">
    <xs:annotation>
      <xs:documentation>geographic name ― The proper noun
        designation for a place, natural feature, or political jurisdiction.
        Examples include Black Forest; Baltimore, Maryland; and Quartier Latin,
        Paris. Name sub-parts may be encoded in &lt;geogname&gt;
        sub-elements. The name of the list from which a controlled value is
        taken, such as the Thesaurus of Geographic Names (TGN), may be recorded
        using the authority attribute. This element is modelled on an element in
        Encoded Archival Description (EAD).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.geogname">
          <xs:attributeGroup ref="mei:attlist.geogname"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.geogname">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.edit"/>
    <xs:attributeGroup ref="mei:att.facsimile"/>
    <xs:attributeGroup ref="mei:att.lang"/>
    <xs:attributeGroup ref="mei:att.name"/>
    <xs:attributeGroup ref="mei:att.typed"/>
  </xs:attributeGroup>
  <xs:complexType name="content.periodname" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="mei:model.textphraseLike"/>
      <xs:group ref="mei:model.editLike"/>
      <xs:group ref="mei:model.transcriptionLike"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="periodname">
    <xs:annotation>
      <xs:documentation>period name ― A label that describes a
        period of time, such as 'Baroque' or '3rd Style period'. The name of the
        list from which a controlled value is taken may be recorded using the
        authority attribute.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.periodname">
          <xs:attributeGroup ref="mei:attlist.periodname"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.periodname">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.datable"/>
    <xs:attributeGroup ref="mei:att.edit"/>
    <xs:attributeGroup ref="mei:att.facsimile"/>
    <xs:attributeGroup ref="mei:att.lang"/>
    <xs:attributeGroup ref="mei:att.name"/>
    <xs:attributeGroup ref="mei:att.typed"/>
  </xs:attributeGroup>
  <xs:complexType name="content.persname" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="mei:model.textphraseLike"/>
      <xs:group ref="mei:model.editLike"/>
      <xs:group ref="mei:model.transcriptionLike"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="persname">
    <xs:annotation>
      <xs:documentation>personal name ― Designation for an
        individual, including any or all of that individual's forenames,
        surnames, honorific titles, and added names. Name sub-parts may be
        recorded in &lt;persname&gt; sub-elements. The name of the list
        from which a controlled value is taken may be recorded using the
        authority attribute. This element is modelled on an element in Encoded
        Archival Description (EAD).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.persname">
          <xs:attributeGroup ref="mei:attlist.persname"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.persname">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.datable"/>
    <xs:attributeGroup ref="mei:att.edit"/>
    <xs:attributeGroup ref="mei:att.facsimile"/>
    <xs:attributeGroup ref="mei:att.lang"/>
    <xs:attributeGroup ref="mei:att.name"/>
    <xs:attributeGroup ref="mei:att.typed"/>
  </xs:attributeGroup>
  <xs:complexType name="content.stylename" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="mei:model.textphraseLike"/>
      <xs:group ref="mei:model.editLike"/>
      <xs:group ref="mei:model.transcriptionLike"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="stylename">
    <xs:annotation>
      <xs:documentation>style name ― A label for a characteristic
        style of writing or performance, such as 'bebop' or 'rock-n-roll'. Do
        not confuse this element with the &lt;periodname&gt; element.
        The name of the list from which a controlled value is taken may be
        recorded using the authority attribute.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mei:content.stylename">
          <xs:attributeGroup ref="mei:attlist.stylename"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.stylename">
    <xs:attributeGroup ref="mei:att.bibl"/>
    <xs:attributeGroup ref="mei:att.common"/>
    <xs:attributeGroup ref="mei:att.edit"/>
    <xs:attributeGroup ref="mei:att.facsimile"/>
    <xs:attributeGroup ref="mei:att.lang"/>
    <xs:attributeGroup ref="mei:att.name"/>
    <xs:attributeGroup ref="mei:att.typed"/>
  </xs:attributeGroup>
</xs:schema>
