trunk/schemaDevelopment/RNG/mensural_Module.rng

<?xml version="1.0" encoding="UTF-8"?>

<!-- ************************************************************** -->
<!--
  NAME:     Music Encoding Initiative (MEI) schema component:
            mensural_Module.rng
  
  NOTICE:   Copyright (c) 2010 by the Music Encoding Initiative (MEI)
            Council.
  
            Licensed under the Educational Community License, Version
            2.0 (the "License"); you may not use this file except in
            compliance with the License. You may obtain a copy of the
            License at http://www.osedu.org/licenses/ECL-2.0.
            
            Unless required by applicable law or agreed to in writing,
            software distributed under the License is distributed on
            an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
            KIND, either express or implied. See the License for the
            specific language governing permissions and limitations
            under the License.
            
            This is a derivative work based on earlier versions of the
            schema copyright (c) 2001-2006 Perry Roland and the Rector
            and Visitors of the University of Virginia; licensed under
            the Educational Community License version 1.0.
  
  CONTACT:  contact@music-encoding.org 
-->

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  xmlns:tei="http://www.tei-c.org/ns/1.0"
  xmlns:xhtml="http://www.w3.org/1999/xhtml"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  ns="http://www.music-encoding.org/ns/mei"
  xmlns:mei="http://www.music-encoding.org/ns/mei">

  <!-- Mensural module -->
  <!-- Declare data types -->
  <define name="data.DURATION" combine="choice">
    <a:documentation>Logical, that is, written, duration attribute values for
      the mensural repertoire.</a:documentation>
    <choice>
      <value>maxima</value>
      <value>longa</value>
      <value>brevis</value>
      <value>semibrevis</value>
      <value>minima</value>
      <value>semiminima</value>
      <value>fusa</value>
      <value>semifusa</value>
    </choice>
  </define>

  <!-- Declare module attr classes -->
  <define name="att.ligature.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.ligature.ges" combine="interleave">
    <a:documentation xml:lang="eng">Gestural domain attributes</a:documentation>
    <empty/>
  </define>

  <define name="att.ligature.log" combine="interleave">
    <a:documentation xml:lang="eng">Logical domain attributes</a:documentation>
    <optional>
      <attribute name="form">
        <a:documentation xml:lang="eng">provides an indication of the function
          of the ligature.</a:documentation>
        <ref name="data.LIGATUREFORM"/>
      </attribute>
    </optional>
  </define>

  <define name="att.ligature.vis" combine="interleave">
    <a:documentation xml:lang="eng">Visual domain attributes</a:documentation>
    <empty/>
  </define>

  <define name="att.mensur.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.mensur.ges" combine="interleave">
    <a:documentation xml:lang="eng">Gestural domain attributes</a:documentation>
    <empty/>
  </define>

  <define name="att.mensur.log" combine="interleave">
    <a:documentation xml:lang="eng">Logical domain attributes</a:documentation>
    <ref name="att.duration.ratio"/>
    <optional>
      <attribute name="modusmaior">
        <a:documentation xml:lang="eng">describes the maxima-long
          relationship.</a:documentation>
        <ref name="data.MODUSMAIOR"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="modusminor">
        <a:documentation xml:lang="eng">describes the long-breve
          relationship.</a:documentation>
        <ref name="data.MODUSMINOR"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="prolatio">
        <a:documentation xml:lang="eng">describes the semibreve-minim
          relationship.</a:documentation>
        <ref name="data.PROLATIO"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="tempus">
        <a:documentation xml:lang="eng">describes the breve-semibreve
          relationship.</a:documentation>
        <ref name="data.TEMPUS"/>
      </attribute>
    </optional>
  </define>

  <define name="att.mensur.vis" combine="interleave">
    <a:documentation xml:lang="eng">Visual domain attributes. These attributes
      describe the physical appearance of the mensuration sign/time signature of
      mensural notation.</a:documentation>
    <ref name="att.color"/>
    <ref name="att.relativesize"/>
    <ref name="att.slashcount"/>
    <ref name="att.staffloc"/>
    <optional>
      <attribute name="dot">
        <a:documentation xml:lang="eng">specifies whether a dot is to be added
          to the base symbol.</a:documentation>
        <ref name="data.BOOLEAN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="form">
        <a:documentation xml:lang="eng">indicates whether the base symbol is
          written vertically or horizontally.</a:documentation>
        <choice>
          <value>horizontal</value>
          <value>vertical</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="orient">
        <a:documentation xml:lang="eng">describes the rotation or reflection of
          the base symbol.</a:documentation>
        <ref name="data.ORIENTATION"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sign">
        <a:documentation xml:lang="eng">the base symbol in the mensuration
          sign/time signature of mensural notation.</a:documentation>
        <ref name="data.MENSURATIONSIGN"/>
      </attribute>
    </optional>
  </define>

  <define name="att.mensuration.log" combine="interleave">
    <a:documentation xml:lang="eng">Used by staffdef and scoredef to provide
      default values for attributes in the logical domain related to
      mensuration</a:documentation>
    <ref name="att.mensur.log"/>
    <optional>
      <attribute name="mensur.dot">
        <a:documentation xml:lang="eng">determines if a dot is to be added to
          the base symbol.</a:documentation>
        <ref name="data.BOOLEAN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="mensur.orient">
        <a:documentation xml:lang="eng">describes the rotation or reflection of
          the base symbol.</a:documentation>
        <ref name="data.ORIENTATION"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="mensur.sign">
        <a:documentation xml:lang="eng">the base symbol in the mensuration
          sign/time signature of mensural notation.</a:documentation>
        <ref name="data.MENSURATIONSIGN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="mensur.slash">
        <a:documentation xml:lang="eng">indicates the number lines added to the
          mensuration sign. For example, one slash is added for what we now call
          'alla breve'.</a:documentation>
        <data type="positiveInteger"/>
      </attribute>
    </optional>
  </define>

  <define name="att.mensuration.vis" combine="interleave">
    <a:documentation xml:lang="eng">Used by staffdef and scoredef to provide
      default values for attributes in the visual domain related to
      mensuration</a:documentation>
    <optional>
      <attribute name="mensur.form">
        <a:documentation xml:lang="eng">indicates whether the base symbol is
          written vertically or horizontally.</a:documentation>
        <choice>
          <value>horizontal</value>
          <value>vertical</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="mensur.loc">
        <a:documentation xml:lang="eng">holds the staff location of the
          mensuration sign.</a:documentation>
        <data type="positiveInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="mensur.size">
        <a:documentation xml:lang="eng">describes the relative size of the
          mensuration sign.</a:documentation>
        <ref name="data.SIZE"/>
      </attribute>
    </optional>
  </define>

  <define name="att.note.ges.mensural" combine="interleave">
    <a:documentation xml:lang="eng">Gestural domain attributes</a:documentation>
    <ref name="att.duration.ratio"/>
  </define>

  <define name="att.note.log.mensural" combine="interleave">
    <a:documentation xml:lang="eng">Logical domain attributes</a:documentation>
    <optional>
      <attribute name="lig">
        <a:documentation xml:lang="eng">indicates this element's participation
          in a ligature.</a:documentation>
        <choice>
          <value>recta</value>
          <value>obliqua</value>
        </choice>
      </attribute>
    </optional>
  </define>

  <define name="att.proport.anl" combine="interleave">
    <a:documentation xml:lang="eng">Analytical domain
      attributes</a:documentation>
    <ref name="att.common.anl"/>
  </define>

  <define name="att.proport.ges" combine="interleave">
    <a:documentation xml:lang="eng">Gestural domain attributes</a:documentation>
    <empty/>
  </define>

  <define name="att.proport.log" combine="interleave">
    <a:documentation xml:lang="eng">Logical domain attributes. These attributes
      describe augmentation or diminution of the normal value of the notes in
      mensural notation as a ratio.</a:documentation>
    <ref name="att.duration.ratio"/>
  </define>

  <define name="att.proport.vis" combine="interleave">
    <a:documentation xml:lang="eng">Visual domain attributes</a:documentation>
    <empty/>
  </define>

  <define name="att.rest.ges.mensural" combine="interleave">
    <a:documentation xml:lang="eng">Gestural domain attributes</a:documentation>
    <ref name="att.duration.ratio"/>
  </define>

  <define name="att.rest.vis.mensural" combine="interleave">
    <a:documentation xml:lang="eng">Visual domain attributes</a:documentation>
    <ref name="att.lineloc"/>
    <optional>
      <attribute name="spaces">
        <a:documentation xml:lang="eng">states how many spaces are covered by
          the rest.</a:documentation>
        <data type="positiveInteger"/>
      </attribute>
    </optional>
  </define>

  <define name="att.scoredef.log.mensural" combine="interleave">
    <a:documentation xml:lang="eng">Logical domain attributes for a score in the
      mensural repertoire. The values set in these attributes act as score-wide
      defaults for attributes that are not set in descendant elements. The
      tempus, prolatio, modusmaior, and modusminor attributes specify the
      relationship between the four principle levels of note value, i.e., the
      long, breve, semibreve and minim, in mensural notation. Modusminor
      describes the long-breve relationship, while tempus describes the
      breve-semibreve, and prolatio the semibreve-minim relationship,
      respectively. Modusmaior is for the maxima-long relationship. The
      proport.* attributes describe augmentation or diminution of the normal
      value of the notes in mensural notation. The num and numbase attributes
      provide default values.</a:documentation>
    <ref name="att.mensuration.log"/>
  </define>

  <define name="att.scoredef.vis.mensural" combine="interleave">
    <a:documentation xml:lang="eng">Visual domain attributes for scoredef in the
      mensural repertoire</a:documentation>
    <ref name="att.mensuration.vis"/>
  </define>

  <define name="att.staffdef.log.mensural" combine="interleave">
    <a:documentation xml:lang="eng">Logical domain attributes for staffdef in
      the mensural repertoire</a:documentation>
    <ref name="att.mensuration.log"/>
    <optional>
      <attribute name="proport.num">
        <a:documentation xml:lang="eng">Together, proport.num and
          proport.numbase specify a proportional change as a ratio, e.g., 1:3.
          Proport.num is for the first value in the ratio.</a:documentation>
        <data type="positiveInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="proport.numbase">
        <a:documentation xml:lang="eng">Together, proport.num and
          proport.numbase specify a proportional change as a ratio, e.g., 1:3.
          Proport.numbase is for the second value in the
          ratio.</a:documentation>
        <data type="positiveInteger"/>
      </attribute>
    </optional>
  </define>

  <define name="att.staffdef.vis.mensural" combine="interleave">
    <a:documentation xml:lang="eng">Visual domain attributes for the mensural
      repertoire</a:documentation>
    <ref name="att.mensuration.vis"/>
  </define>

  <!-- Declare module model classes -->
  <define name="model.eventLike.mensural" combine="interleave">
    <zeroOrMore>
      <choice>
        <ref name="ligature"/>
        <ref name="mensur"/>
        <ref name="proport"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="model.layerPart.mensural" combine="interleave">
    <a:documentation xml:lang="eng">groups notated events at the layer
      level.</a:documentation>
    <zeroOrMore>
      <choice>
        <ref name="model.controleventLike"/>
        <ref name="model.lyricsLike"/>
        <ref name="model.noteModifierLike"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="model.staffdefPart.mensural" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that may appear more than
      once in the declaration of staff features.</a:documentation>
    <zeroOrMore>
      <choice>
        <ref name="mensur"/>
        <ref name="proport"/>
      </choice>
    </zeroOrMore>
  </define>

  <!-- Declare module elements -->
  <define name="content.mensur">
    <empty/>
  </define>

  <define name="mensur">
    <element name="mensur">
      <a:documentation xml:lang="eng">mensuration ― The &lt;mensur&gt;
        element is provided for the encoding of mensural notation. It collects
        information about the metrical relationship between a note value and the
        next smaller value; that is, either triple or duple. The slash attribute
        indicates the number lines added to the mensuration sign. For example,
        one slash is added for what we now call 'alla breve'.</a:documentation>
      <ref name="attlist.mensur"/>
      <ref name="content.mensur"/>
    </element>
  </define>

  <define name="attlist.mensur">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.mensur.log"/>
    <ref name="att.mensur.vis"/>
    <ref name="att.mensur.ges"/>
    <ref name="att.mensur.anl"/>
  </define>

  <define name="content.proport">
    <empty/>
  </define>

  <define name="proport">
    <element name="proport">
      <a:documentation xml:lang="eng">proportion ― The
        &lt;proportion&gt; element is provided for the encoding of
        mensural notation. It allows the description of note durations as
        arithmetic ratios. While mensuration refers to the normal relationships
        between note durations, proportion affects the relations of the note
        durations to the tactus.</a:documentation>
      <ref name="attlist.proport"/>
      <ref name="content.proport"/>
    </element>
  </define>

  <define name="attlist.proport">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.proport.log"/>
    <ref name="att.proport.vis"/>
    <ref name="att.proport.ges"/>
    <ref name="att.proport.anl"/>
  </define>

  <define name="content.ligature">
    <zeroOrMore>
      <ref name="model.layerPart"/>
    </zeroOrMore>
  </define>

  <define name="ligature">
    <element name="ligature">
      <a:documentation xml:lang="eng">ligature ― A mensural notation symbol that
        combines two or more notes into a single sign. The rhythmic meaning of
        the components of a ligature is typically contextual, not absolute;
        therefore, an interpretative duration may be encoded on each of the
        components using either the dur.ges attribute or the num and numbase
        attribute pair. The &lt;ligature&gt; element should *not* be
        used for brackets in modern notation that indicate notes that were part
        of a ligature in the original source.</a:documentation>
      <ref name="attlist.ligature"/>
      <ref name="content.ligature"/>
    </element>
  </define>

  <define name="attlist.ligature">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.ligature.log"/>
    <ref name="att.ligature.vis"/>
    <ref name="att.ligature.ges"/>
    <ref name="att.ligature.anl"/>
  </define>

</grammar>
