trunk/schemaDevelopment/RNG/text_Module.rng

<?xml version="1.0" encoding="UTF-8"?>

<!-- ************************************************************** -->
<!--
  NAME:     Music Encoding Initiative (MEI) schema component:
            text_Module.rng
  
  NOTICE:   Copyright (c) 2010 by the Music Encoding Initiative (MEI)
            Council.
  
            Licensed under the Educational Community License, Version
            2.0 (the "License"); you may not use this file except in
            compliance with the License. You may obtain a copy of the
            License at http://www.osedu.org/licenses/ECL-2.0.
            
            Unless required by applicable law or agreed to in writing,
            software distributed under the License is distributed on
            an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
            KIND, either express or implied. See the License for the
            specific language governing permissions and limitations
            under the License.
            
            This is a derivative work based on earlier versions of the
            schema copyright (c) 2001-2006 Perry Roland and the Rector
            and Visitors of the University of Virginia; licensed under
            the Educational Community License version 1.0.
  
  CONTACT:  contact@music-encoding.org 
-->

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  xmlns:tei="http://www.tei-c.org/ns/1.0"
  xmlns:xhtml="http://www.w3.org/1999/xhtml"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  ns="http://www.music-encoding.org/ns/mei"
  xmlns:mei="http://www.music-encoding.org/ns/mei">

  <!-- Text Module -->
  <!-- Declare module attr classes -->

  <!-- Declare module model classes -->
  <define name="model.backLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that may contain back
      matter.</a:documentation>
    <ref name="back"/>
  </define>

  <define name="model.divLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements used to represent generic
      structural divisions of text.</a:documentation>
    <ref name="div"/>
  </define>

  <define name="model.frontLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that may contain front
      matter.</a:documentation>
    <ref name="front"/>
  </define>

  <define name="model.headLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements used to provide a heading at
      the start of a text division.</a:documentation>
    <ref name="head"/>
  </define>

  <define name="model.lLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements representing metrical
      components such as verse lines.</a:documentation>
    <ref name="l"/>
  </define>

  <define name="model.listLike" combine="interleave">
    <a:documentation xml:lang="eng">groups list-like elements.</a:documentation>
    <ref name="list"/>
  </define>

  <define name="model.quoteLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements used to directly contain
      quotations.</a:documentation>
    <ref name="blockquote"/>
  </define>

  <define name="model.rdgPart.text" combine="interleave">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textcomponentLike"/>
        <ref name="model.textphraseLike.limited"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="model.lgLike" combine="interleave">
    <a:documentation xml:lang="eng">groups elements that have a line-grouping
      function.</a:documentation>
    <ref name="lg"/>
  </define>

  <!-- Declare module elements -->
  <define name="content.back">
    <zeroOrMore>
      <ref name="model.milestoneLike.text"/>
    </zeroOrMore>
    <oneOrMore>
      <ref name="model.divLike"/>
    </oneOrMore>
    <zeroOrMore>
      <ref name="model.milestoneLike.text"/>
    </zeroOrMore>
  </define>

  <define name="back">
    <element name="back">
      <a:documentation xml:lang="eng">back ― Back matter such as indexes,
        advertisements, etc. following the main part of a text. This element is
        modelled on an element in the Text Encoding Initiative
        (TEI).</a:documentation>
      <ref name="attlist.back"/>
      <ref name="content.back"/>
    </element>
  </define>

  <define name="attlist.back">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
  </define>

  <define name="content.blockquote">
    <oneOrMore>
      <ref name="model.textcomponentLike"/>
    </oneOrMore>
    <optional>
      <ref name="model.biblLike"/>
    </optional>
  </define>

  <define name="blockquote">
    <element name="blockquote">
      <a:documentation xml:lang="eng">blockquote ― A formatting element that
        designates an extended quotation; that is, a passage attributed to a
        source external to the text. The quotation is normally set off from the
        text by spacing or other typographic distinction. The source for the
        quote may be included in the optional &lt;bibl&gt; sub-element.
        Use &lt;rend&gt; for words that are enclosed in quotation marks
        for emphasis or for a short quoted phrase that occurs within a line of
        text. This element is modelled on an element in HTML.</a:documentation>
      <ref name="attlist.blockquote"/>
      <ref name="content.blockquote"/>
    </element>
  </define>

  <define name="attlist.blockquote">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
    <ref name="att.xy"/>
  </define>

  <define name="content.div">
    <zeroOrMore>
      <ref name="model.milestoneLike.text"/>
    </zeroOrMore>
    <optional>
      <ref name="model.headLike"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="model.divLike"/>
        <ref name="model.textcomponentLike"/>
      </choice>
    </oneOrMore>
    <zeroOrMore>
      <ref name="model.milestoneLike.text"/>
    </zeroOrMore>
  </define>

  <define name="div">
    <element name="div">
      <a:documentation xml:lang="eng">division ― Major structural division of
        text, such as a preface, chapter or section. Often, the
        &lt;head&gt; sub-element identifies the &lt;div&gt;'s
        purpose. This element is modelled on an element in the Text Encoding
        Initiative (TEI).</a:documentation>
      <ref name="attlist.div"/>
      <ref name="content.div"/>
    </element>
  </define>

  <define name="attlist.div">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
    <ref name="att.typed"/>
  </define>

  <define name="content.front">
    <zeroOrMore>
      <ref name="model.milestoneLike.text"/>
    </zeroOrMore>
    <oneOrMore>
      <choice>
        <ref name="model.divLike"/>
        <ref name="model.frontPart"/>
      </choice>
    </oneOrMore>
    <zeroOrMore>
      <ref name="model.milestoneLike.text"/>
    </zeroOrMore>
  </define>

  <define name="front">
    <element name="front">
      <a:documentation xml:lang="eng">front ― Bundles prefatory text found
        before the start of the musical text. &lt;titlepage&gt; may be
        used to transcribe the item's title page. Other front matter structures,
        such as a preface, dedication, or table of contents, may be encoded as
        textual divisions; that is, as &lt;div&gt;s, with an optional
        &lt;head&gt; sub-element describing the nature of the division.
        The &lt;pb&gt; element is allowed here in order to accommodate
        page images, e.g. cover, endpapers, etc. before and after the actual
        textual matter. This element is modelled on an element in the Text
        Encoding Initiative (TEI).</a:documentation>
      <ref name="attlist.front"/>
      <ref name="content.front"/>
    </element>
  </define>

  <define name="attlist.front">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
  </define>

  <define name="content.head">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="head">
    <element name="head">
      <a:documentation xml:lang="eng">heading ― Contains any heading, for
        example, the title of a section of text, or the heading of a list. When
        &lt;head&gt; is used, it should be the first sub-element,
        followed by one or more other elements. This element is modelled on
        elements in Encoded Archival Description (EAD), Text Encoding Initiative
        (TEI), and HTML.</a:documentation>
      <ref name="attlist.head"/>
      <ref name="content.head"/>
    </element>
  </define>

  <define name="attlist.head">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
    <ref name="att.xy"/>
  </define>

  <define name="content.item">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textcomponentLike"/>
        <ref name="model.textphraseLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="item">
    <element name="item">
      <a:documentation xml:lang="eng">item ― Single item in a
        &lt;list&gt;. This element is modelled on elements in Encoded
        Archival Description (EAD), Text Encoding Initiative (TEI), and
        HTML.</a:documentation>
      <ref name="attlist.item"/>
      <ref name="content.item"/>
    </element>
  </define>

  <define name="attlist.item">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
  </define>

  <define name="content.l">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.textphraseLike"/>
        <ref name="model.editLike"/>
        <ref name="model.transcriptionLike"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="l">
    <element name="l">
      <a:documentation xml:lang="eng">line of text ― Contains a single line of
        text within a line group. The n attribute should be used to record a
        label for the line, i.e., most likely a line number. Do not confuse this
        element with the &lt;line&gt; element, which is used for
        graphical lines that occur in music notation. This element is modelled on
        elements in the Text Encoding Initiative (TEI).</a:documentation>
      <ref name="attlist.l"/>
      <ref name="content.l"/>
    </element>
  </define>

  <define name="attlist.l">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
  </define>

  <define name="content.lg">
    <optional>
      <ref name="model.headLike"/>
    </optional>
    <oneOrMore>
      <ref name="model.lLike"/>
    </oneOrMore>
  </define>

  <define name="lg">
    <element name="lg">
      <a:documentation xml:lang="eng">line group ― Usually contains a lyric
        verse although it may be used for any section of text that is organized
        as a group of lines. This element is modelled on an element in the Text
        Encoding Initiative (TEI).</a:documentation>
      <ref name="attlist.lg"/>
      <ref name="content.lg"/>
    </element>
  </define>

  <define name="attlist.lg">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
    <ref name="att.xy"/>
  </define>

  <define name="content.list">
    <optional>
      <ref name="model.headLike"/>
    </optional>
    <oneOrMore>
      <ref name="item"/>
    </oneOrMore>
  </define>

  <define name="list">
    <element name="list">
      <a:documentation xml:lang="eng">list ― A formatting element that contains
        as series of items separated from one another and arranged in a linear,
        of vertical sequence. This element is modelled on elements in Encoded
        Archival Description (EAD), Text Encoding Initiative (TEI), and
        HTML.</a:documentation>
      <ref name="attlist.list"/>
      <ref name="content.list"/>
    </element>
  </define>

  <define name="attlist.list">
    <ref name="att.common"/>
    <ref name="att.facsimile"/>
    <ref name="att.lang"/>
    <ref name="att.xy"/>
    <optional>
      <attribute name="form">
        <a:documentation xml:lang="eng">used to identify and format a list. In a
          "simple" list, &lt;item&gt;s are not numbered or bulleted. In
          a "marked" list, the sequence of the list items is not critical, and a
          bullet, box, dash, or other character is displayed at the start of
          each &lt;item&gt;. In an "ordered" list, the sequence of the
          items is important, and each &lt;item&gt; is lettered or
          numbered. Style sheet functions should be used to specify the mark or
          numeration system for each &lt;item&gt;.</a:documentation>
        <choice>
          <value>simple</value>
          <value>marked</value>
          <value>ordered</value>
        </choice>
      </attribute>
    </optional>
  </define>

</grammar>
